[2015-05-05 21:27] philipmw opened #2 "Timestamp fields may not compare equal after round-trip to DynamoDB"
Timestamp fields may not compare equal after round-trip to DynamoDB. The root cause is that `Time.at(some_time_obj.to_f)` is not always equal to `some_time_obj`, in at least MRI and JRuby.

For now, the best workaround is to compare timestamps with the aid of an epsilon.

Another solution is for Dynamoid to use `Time#_dump` and `Time::_load` to persist timestamps, but we must take care to not brea

[2015-06-24 17:21] BilalBudhani opened #5 "Provide option to skip namespace in configuration"
I've been rewriting a legacy app in Ruby. When I try to provide a custom name to my table name Dynamoid prepends namespace to the table name. It would be great if we can skip namespace in configuration. I also tried leaving the namespace blank which results in `_` before the table name.

[2015-06-24 17:28] philipmw commented on #2
This will be fixed in the next major version.

[2015-06-24 19:53] philipmw opened #6 "Range finding functionality ('field.gt' et al) works only for Query, not Scan"
AWS SDK v2 supports an optional `scan_filter` on Scan API calls, with the same semantics as `query_filter` on Query API calls.

Dynamoid offers convenience methods for finding on range fields, such as `my_chain.where("rangefield.gt" => 5)`, but it works only on Query API calls. On Scan, Dynamoid _allows_ this query chain, but it does not translate the ".gt" component, so you end up scanning for a

[2015-06-25 06:13] BilalBudhani opened #7 "Dynamoid raises exception when fields which are present in Dynamodb record aren't declared in model"
As described at https://github.com/Dynamoid/Dynamoid/pull/4#issuecomment-114946871. If there are `fields` in DynamoDB records which are not declared in Dynamoid model then, it raises exception. Ideally, It should ignore those fields and materialize the model regardlessly.

[2015-07-01 00:35] philipmw opened #8 "Empty array and set fields round-trip to nil"
Code to reproduce the problem:

[code]

[2015-07-01 00:48] philipmw opened #9 "Dynamoid should support DynamoDB attribute types byond string and number"
Dynamoid translates its field types to DynamoDB attribute types, in `Dynamoid::Persistence#dynamo_type`.

The mapping right now is overly simple: all fields map either to a numeric or a string attribute. This maps container fields (`:array` and `:set`) to a string also.

AWS SDK v2 offers a better selection of attribute types that map much more closely to Dynamoid's field types. Dynamoid should su

[2015-07-02 21:32] philipmw opened #10 "`Dynamoid::Adapter.reconnect!` is not thread-safe"
A backtrace when a program uses Dynamoid (with AWS SDK v2) in a multi-threaded environment:

     NoMethodError:
       undefined method `list_tables' for nil:NilClass
     # .../dynamoid-1.0.0pre/lib/dynamoid/adapter/aws_sdk_v2.rb:220:in `list_tables'
     # .../dynamoid-1.0.0pre/lib/dynamoid/adapter.rb:128:in `list_tables'
     # .../dynamoid-1.0.0pre/lib/dynamoid/adapter.rb:42:in `benchmark'

[2015-07-07 20:09] philipmw opened #11 "Dynamoid's ConditionalCheckFailedException is ambiguous and not ActiveRecord-esque"
Dynamoid raises Dynamoid::Errors::ConditionalCheckFailedException for two cases:
1) One puts an item whose key is already present in the table;
2) One updates an item with a stale lock_version.

We want to distinguish between these two cases, following ActiveRecord:
case 1 -> RecordNotUnique
case 2 -> StaleObjectError

[2015-07-09 18:40] philipmw commented on #10
I have a fix for this; it's on the `prerelease` branch for now because it's based atop of some pending pull requests. I'll post it as a pull request shortly.

[2015-07-16 23:22] philipmw commented on #11
This'll be fixed in the next release.

[2015-08-12 22:06] jwicks opened #24 "Support for querying secondary indexes"
http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/SecondaryIndexes.html

Right now it seems like the adapter only supports querying against the table with primary hash and range keys. The index support needs to be added back w/ support for secondary indexes (the index name, hash key, optional range key).

For now I was able to shoehorn the support in by extending the AwsSdkV2 adapter

[2015-11-25 00:48] philipmw commented on #2
Fixed in v1.0.0.

[2015-11-25 00:48] #2 closed

[2015-11-25 00:49] philipmw commented on #10
Fixed in v1.0.0.

[2015-11-25 00:49] #10 closed

[2015-11-25 00:49] philipmw commented on #11
Fixed in v1.0.0.

[2015-11-25 00:49] #11 closed

[2015-11-27 14:21] manabendrawelcome opened #26 "Not able to find 'x-amzn-requestid' when ConditionalCheckFailedException happen"
We are using the Dynamoid Gem in our project
We are currectly want to implement Exception handling from the Dynamoid
Different types of exceptions are handled by
begin
	// some code where exception may happen
rescue Exception => e
   p e.message
end
For ConditionalCheckFailedException we are not able to get e.http_response.headers["x-amzn-requestid"]

[2015-11-28 02:24] philipmw commented on #26
Hi, @manabendrawelcome.

1. The exception class you're catching is `Dynamoid::Errors::ConditionalCheckFailedException` rather than assumed/expected `Aws::DynamoDB::Errors::ConditionalCheckFailedException`. Dynamoid's exception wraps the original exception, which you can reach using the `#inner_exception` method. This wrapper exists for compatibility with ActiveRecord.
2. Even on `Aws::DynamoDB::Er

[2015-11-28 02:24] #26 closed

[2015-11-30 07:33] manabendrawelcome commented on #26
Hi phillipmw... Thanks for your reply.
We are using sdk 1 and when exception occurring dynamoid block catching the exception And I am still not getting any #context or 'x-amzn-requestid'
below is the code...

begin
 d = Dynamo::DeviceStreamName.new
 d.id = "111"
 d.save
rescue AWS::DynamoDB::Errors::ConditionalCheckFailedException => e
 p "error happen"
rescue Dynamoid::Errors::ConditionalCheckFai

[2015-11-30 21:57] philipmw commented on #26
Ah, my comment about `#inner_exception` is true only for the most recent version of Dynamoid, version 1.0.0. Naturally, I suggest you use the most recent version of all your gems.

With the older version, there isn't a way to get the instance of `AWS::DynamoDB::Errors::ConditionalCheckFailedException` -- in the code you're using, https://github.com/Dynamoid/Dynamoid/blob/v0.7.1/lib/dynamoid/adapte

[2015-12-06 14:00] iblue opened #27 "Dynamoid does not fail correctly if it cannot connect to an endpoint"
Given the configured endpoint is not reachable:

Because of an unconditional rescue in `concurrent-ruby-0.9.2/lib/concurrent/atom.rb`, line 97 the `ECONNREFUSED` exception created in `dynamoid-1.0.0/lib/dynamoid/adapter.rb`, line 20 is catched and ignored.

Therefore, when I cannot connect to an endpoint, I get an `undefined method`include?' for nil:NilClass`

To reproduce, just try to save any ob

[2015-12-08 20:24] sumocoder opened #28 "Dynamoid destroy does not check lock_version"
I am interested in knowing if this was a design decision or is it a bug. I would assume that you shouldn't be able to delete a record if it is out of date.

[2015-12-09 20:12] philipmw commented on #28
Thanks for the report. I believe it's a bug. DynamoDB's SDK checks version number when deleting.

[SDK](http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/JavaVersionSupportHLAPI.html):

[2015-12-11 05:07] sumocoder commented on #28
Thank you for the update. I have a fix for this if you would like to have a look.

[2015-12-11 18:26] philipmw commented on #28
I'd love it. Submit a PR?

[2015-12-18 06:21] sumocoder commented on #28
Submitted, please review and comment.

[2015-12-22 04:37] hnishide opened #30 "Why did you rename limit method to eval_limit?"
Is there any collision?

[2015-12-22 18:56] philipmw commented on #30
Hello. I renamed `limit` to `eval_limit` because `limit` was misleading. In ActiveRecord, `limit` controls how many items matching your predicate _you get back_, whereas with DynamoDB it controlled how many items were _evaluated_ for your predicate.

With DynamoDB, you could run your query on a large table, limit it to 10 items, and get 0 items back because the first 10 items in the table happened

[2015-12-22 18:56] #30 closed

[2015-12-25 10:34] hnishide commented on #30
Thanks a lot!
I completely understand and agree with you.

[2015-12-27 03:17] philipmw commented on #28
Merged as #29. Thanks for the contribution.

[2015-12-27 03:17] #28 closed

[2016-01-05 02:32] joelpresence commented on #7
Hi,

Any progress on this?  I'm considering using this awesome gem for a Rails app talking to DynamoDB, but this concerns me - if I want to mix different record types in the same Dynamo table (why not, it's NoSQL so no schema to adhere to) then I'm afraid that this would be an issue ...

Thanks!

[2016-01-05 02:34] philipmw commented on #7
I agree this is a problem. As far as I know, no one has started work on this issue. I'll see if I can find time, but I'd love it if someone who has more time (or has more at stake) could work on this.

[2016-01-05 03:14] sumocoder commented on #9
I am working on this. I should have something in the next 2 days.

[2016-01-05 03:14] philipmw commented on #9
Thanks, sumocoder!

[2016-01-05 03:24] joelpresence commented on #7
I'd be happy to take a stab at it if you give me some hints where to look in the code and what to be careful of.

Thanks!

Sent from my iPhone

On Jan 4, 2016, at 6:34 PM, Philip M. White <notifications@github.com<mailto:notifications@github.com>> wrote:

I agree this is a problem. As far as I know, no one has started work on this issue. I'll see if I can find time, but I'd love it if someone who

[2016-01-11 22:01] sumocoder commented on #7
Fixed this in #33

[2016-01-28 16:37] sumocoder opened #36 "Setting nil to an attribute that has a default does not work on initialize"
[code]

Default should only be set if the attribute was not set on initialize

[2016-01-28 16:58] sumocoder opened #37 "Typecasting raises exceptions before validations get to run"
[code]

ActiveRecord attempts to typecast and if it fails it stores nil. It also stores age_before_type_cast. Something similar needs to be done for Dynamoid.

More info here
http://api.rubyonrails.org/classes/ActiveRecord/AttributeMethods/BeforeTypeCast.html

[2016-02-12 03:50] ayemos opened #41 "Range query functionalities are limited"
It seems that the range query is now working only with
- integer, float column
- one-sided({lt, gt} only) query
and I guess it isn't sufficient for basic usage of DynamoDB APIs.

It may be caused by explicit [type-cast in range_hash method](https://github.com/Dynamoid/Dynamoid/blob/master/lib/dynamoid/criteria/chain.rb#L155)
and [failure in range_query construction](https://github.com/Dynamoid/Dyn

[2016-02-17 21:13] mstahl commented on #27
I am also experiencing this error but in a slightly more bizarre circumstance. When I have my Rails app and DynamoDB local running in a docker-compose cluster, everything works great. I'm able to save and query for objects in DynamoDB just fine. When I run the Rails app in Docker but run DynamoDB in a separate VM or locally on my laptop, _*even though I am able to telnet to the right port on the h

[2016-02-20 09:14] adamthedeveloper opened #43 "Rails 5"
Has anyone been able to get this to run in Rails 5? I just get "There was an error while trying to load the gem 'dynamoid'. (Bundler::GemRequireError)" when I run rails c or rails s.

The error message is unhelpful.

[2016-02-22 23:10] nathantech2005 opened #44 "undefined method `include?' for nil:NilClass"
The save method on the object is raising this error.

[2016-02-22 23:48] nathantechie9 commented on #44
Also. My test says sqlite is trying to save record. The dynamoid isn't over riding the orm behavior.

class Lead
  include Dynamoid::Document

  table :name => :leads, :key => :email, :read_capacity => 400, :write_capacity => 400

  field :question
  field :email
  field :created, :datetime, {default: ->(){Time.now}}

  validates_presence_of :lead
  validates_format_of :email, :with => /@/
end

[2016-02-24 17:29] ericpeters0n opened #46 "Range finding doesn't work as documented"
For

[code]

this:

[code]

yields

[code]

Am I missing something?

[2016-02-24 17:38] ericpeters0n commented on #46
@sumocoder  - Appreciate your work on the type mappings... Any hints here?

[2016-02-24 17:44] ericpeters0n commented on #46
@philipmw - It looks like @sumocoder and @ayemos have PRs that address this breakage to some degree...

[2016-02-24 17:53] ericpeters0n commented on #46
Ah, appears this is a result of #17

[2016-02-25 08:03] abhi-patel commented on #43
Same here.

[2016-02-25 14:55] abhi-patel commented on #43
I think this is breaking because of ``include ActiveModel::Serializers::Xml`` in Dynamoid::Components.

Also latest version depends on active_model ~> 4, Any idea when active_model(rails) 5 will be supported?

[2016-02-25 15:20] adamthedeveloper commented on #43
I forked the project, commented that Xml line out and changed the version
dependency to >= 4. I also had to fix a null pointer exception to get
around the nil.include? issue that kept popping up if there were no tables
to start with. Take a look at the fork for adamthedeveloper to see the
changes I had to make. I don't know what the impacts of removing the Xml
requirement are yet, however the Gem

[2016-02-25 15:26] adamthedeveloper commented on #44
This is happening when you have no tables to start with. See the changes in my fork: adamthedeveloper. Instead of assuming there are always tables, I set the tables variable to an empty array if it's nil so that the include? still works.

[2016-02-25 15:40] nathantechie9 commented on #44
Ah ok. Will check it out.

[2016-02-26 03:04] adamthedeveloper commented on #44
https://github.com/adamthedeveloper/Dynamoid/commit/19cf5df103ff8598d64f73285021936c045fb969

[2016-03-03 04:43] cignoir commented on #43
+1
Currently, [adamthedeveloper/Dynamoid](https://github.com/adamthedeveloper/Dynamoid) works fine for me in Rails5.
 I will report if it breaks.

[2016-03-07 07:21] cignoir opened #54 "A proposal of a shorter key definition"
When we define hash_key and range_key with some types, we have to write as bellow:
[code]
This notation is a little redundant. I would rather write as:
[code]

[2016-03-07 09:21] cignoir commented on #54
This is a sample implementation of the proposal.
https://github.com/cignoir/Dynamoid/commit/bc0773086aefa7e16fa93f5d08117b03fc3efcdf

To avoid the collisions of key names, I used ```partition_key/sort_key``` instead of ```hash_key/range_key``` experimentally.

Thanks.

[2016-03-08 21:44] RedaBenh commented on #9
Hi,
Do you know how to manage easily Map field (see example of 'records' field bellow )?
[code]

Thanks for your help ;)

Reda

[2016-03-10 16:32] RedaBenh commented on #5
+1
i try to name my table "my_table". but i can't because the gem set it to "_my_table" !

[2016-03-11 01:12] cignoir commented on #5
+1
I hope this gets fixed.

[2016-03-11 18:11] philipmw commented on #5
I merged the fix, thanks to brenden.

[2016-03-11 18:11] #5 closed

[2016-03-12 10:15] johansmitsnl opened #57 "Import event dates from the organisators websites"
Import event dates from the organisators websites

[2016-03-12 10:16] johansmitsnl commented on #57
Sorry wrong github project.

[2016-03-12 10:16] #57 closed

[2016-03-16 13:43] filiptepper opened #59 "Dynamic table names"
I'm looking to split my data into time-sliced tables.

Before I do any work on this I wanted to ask I you would be interested in merging pull request that would allow dynamic tables names for a model (say, defined at runtime by a lambda).

[2016-03-24 04:57] activefx opened #60 "Invalid item size limit calculations and MAX_ITEM_SIZE value"
Dynamoid sets the `MAX_ITEM_SIZE` value to 64 KB. However, the current limit is 400 KB. Please see the [Limits in DynamoDB](http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Limits.html#limits-items) documentation.

Also, the `#write_attribute` method within `Fields` incorrectly calculates this limit.

[code]

The calculation for the warning only takes into account the size of a sing

[2016-03-29 14:08] RedaBenh opened #61 "DynamoDB Expensive cost caused by the value 400 in read and write capacity"
Hi,

I try this gem few months ago. I follow the examples in the documentation (readme) to create dynamoDB  tables. But at the end of each month i get an expensive cost (+200$) caused by the tables created with your examples with 400 for read and write capacity.
(I forget to delete these tables because i change the region in AWS and the tables ware hidden :-( ) .

I suggest to change the capacity

[2016-03-30 00:48] cignoir commented on #61
That was very sad incident ;(

[2016-03-30 04:17] philipmw commented on #61
That's awful. So sorry about that!

If you contact AWS Support, they'll probably refund you. They're very reasonable people.

[2016-03-30 04:17] #61 closed

[2016-03-30 04:22] philipmw commented on #44
@adamthedeveloper how about a patch?

[2016-03-30 04:23] #41 closed

[2016-03-30 04:41] philipmw commented on #54
I agree it's better. Not sure I agree that it's worthwhile.

[2016-03-30 05:16] adamthedeveloper commented on #44
Here you go: https://github.com/Dynamoid/Dynamoid/pull/63

[2016-04-04 12:20] RedaBenh commented on #61
Thank you for your quick answer and for your update of readme pages.
I logged a case to AWS support, i hope they understand and refund me.

[2016-04-07 15:57] LeeChSien commented on #24
+1

[2016-04-20 08:06] VGleb commented on #43
+1
[adamthedeveloper/Dynamoid](https://github.com/adamthedeveloper/Dynamoid) works in Rails 5.0.0.beta3

[2016-04-20 13:02] cavi21 commented on #43
Hey everyone, there is PR #63 opened for this, if anyone has more insight of the issue in order to build a test case for it, it would be great! Happy to do it, or discuss it

[2016-04-21 17:16] ericpeters0n opened #67 "Testing Rails apps on Dynamoid-- How??"
At present, I'm hacking around trying to figure out how to test my Rails app built on Dyanmoid/Dynamo... not intuitive.

Any suggestions from the pros? Thanks!

(I'm happy to consolidate suggestions and add to the README!)

[2016-04-22 00:58] cavi21 commented on #67
Hi @ericpeters0n not sure what's the issue here? What are you trying to achieve and seems not possible?

[2016-05-01 21:40] josephverbeck commented on #43
I also forked the project and worked with the new activemodel-serializers-xml gem to not remove the include ActiveModel::Serializers::Xml from the components.rb file.  This also required updating the activemodel dependency to 5.0.0.beta3.  Hopefully this helps someone else

[2016-05-06 08:39] NrBT opened #70 "Save fails if Dynamoid has to create a table"
If the table does not yet exist, a call to `model.save` fails on first call and succeeds on subsequent calls.

[code]

[2016-05-12 10:57] asit569 opened #71 "Getting ...uninitialized constant Item::Dynamoid....error"
I have already installed dynamoid gem but still getting uninitialized constant error

pi@raspberrypi:~/waterpi-web $ ruby app.rb
/home/pi/waterpi-web/models/item.rb:2:in `<class:Item>': uninitialized constant Item::Dynamoid (NameError)
        from /home/pi/waterpi-web/models/item.rb:1:in `<top (required)>'
        from /home/pi/waterpi-web/boot.rb:22:in `require'
        from /home/pi/waterpi-web

[2016-05-12 16:07] #71 closed

[2016-05-14 12:47] cavi21 commented on #67
Hey @ericpeters0n any news on this? or any doubt?

[2016-05-16 17:39] bglusman commented on #67
@ericpeters0n have you tried using dynamodb-local ?  that would certainly help testing

[2016-05-16 17:42] bglusman commented on #59
@filiptepper I'm curious what you'd propose here, but I also had need for dynamic table names for a different purpose, to segregate models containing PII on a per company basis.  I rolled some logic myself that dynamically generates a class inherting from the main class for each company, and the main class has no table name, and is thus an abstract or base class, only each concrete per-company ver

[2016-05-16 18:20] ericpeters0n commented on #67
In case my situation wasn’t clear, I needed to create using and functional tests for my app running on Dynamoid/DynamoDB

Some of the Rails testing frameworks (e.g. Minitest) presume that a valid schema.db will be available to bootstrap testing. Thus, using Dynamoid’s :field definitions isn’t sufficient. (Whether you run DynamoDB locally or on AWS makes no difference here.)

While you can duplicat

[2016-05-17 01:18] cignoir commented on #59
@filiptepper I'm also interested in this proposal, because there is a use case that one model have two or more table names. For example, dividing a table into production and sandbox in spite of the same role.

One solution is to make a inheritance relationship as below
(Maybe in the same way as @bglusman  did).
[code]

However, it will be easier if there is a mechanism to determine the table names

[2016-05-23 06:27] filiptepper commented on #59
I was looking to work on this but we have simplified our data structure and it turns out we won't be using Dynamoid after all.

@cignoir For sandbox / production environment split I would rather use separate AWS accounts / credentials. I think that could simplify the code + extra security!

[2016-05-23 06:27] #59 closed

[2016-05-23 17:15] pboling opened #74 "Multiple typos in documentation"
[code]

1. The `:range_key => :gender` should instead be `:range_key => :rank`.
2. Curly braces are required around the first hash param in:
`User.find_all_by_secondary_index(:age => 5, :range => {"rank.lte" => 10})`, as
`User.find_all_by_secondary_index({:age => 5}, :range => {"rank.lte" => 10})`

[2016-05-24 15:55] pboling opened #75 "Support additional options for find_all_by_secondary_index"
From TODO in code:
[code]

[2016-05-27 13:58] cavi21 commented on #67
I think I don't fully follow the situation @ericpeters0n, sorry about it! You should think DynamoDB as a service, in that case there is no reason for a schema to be load on the test_helper.rb. I believe that what you are trying to do is to pre-load data in the DynamoDB right? if that's the case with just a something similar to `shared_context` or with a `before`, `setup` or `background` block (dep

[2016-06-06 01:13] #74 closed

[2016-06-08 13:40] tvmendoza opened #78 "Config.namespace still adds namespacing even if set to nil"
I am setting my configuration to the following:

config.adapter = 'aws_sdk_v2'
    config.namespace = nil
    config.warn_on_scan = true
    config.read_capacity = 5
    config.write_capacity = 5

However, when i get the result I am getting the following:

 get_item(table_name:"_tableName",key:{"email"=>{s:"a@a.com"}})

In this example my table is called  "tableName" however it is still adding the

[2016-06-09 00:56] cignoir commented on #78
It seems to be working fine for me.
[code]

And also all specs passed on my local.
[code]

[2016-06-16 16:20] alexperto commented on #78
same problem here!

[code]

[code]

what version are you using @cignoir?

[2016-06-16 18:07] alexperto commented on #78
it seems like the code is fine, for some reason the latest version didn't work for me, when I used a forked repo it worked perfectly. Anyways, I created a PR to refactor the table-namespacing stuff

https://github.com/Dynamoid/Dynamoid/pull/79/files

[2016-06-17 01:16] cignoir commented on #78
@alexperto
I tested with v1.1.0. But I directly cloned the latest source codes via github (not rubygems).

I think this causes problems. The namespacing problem was fixed on Mar 12, 2016. However, the version on rubygems not updated since December 30, 2015.

@philipmw
Is it time to bump up version and push gem?

[2016-06-17 16:38] alexperto commented on #78
thanks for looking at it @cignoir,
I temporary fixed it by doing:

[code]

[2016-06-24 13:24] afgarcia86 commented on #46
I have the same issue...

[2016-06-24 15:28] afgarcia86 commented on #6
Any update on this?

[2016-07-06 15:43] JohnSmall opened #83 "How do I remove the timestamp fields?"
Dynamoid automatically adds the fields created_at and updated_at. But I'm reading from a table that doesn't follow Rails conventions and doesn't have those fields. How do I remove them from the table definition?

[2016-07-07 00:36] cignoir commented on #83
There are no options to remove timestamps currently.
You can choose either one you like:
* +1 to PR #58
* Do monkey patching refer to this commit  https://github.com/cignoir/Dynamoid/commit/6eb09aa0adefbedbd71660bc86749f0179133db8
* Use ``` gem 'dynamoid', github: 'cignoir/dynamoid', branch: 'timestamps' ``` then configure to disable timestamps.

I hope this will be of some help.

[2016-07-07 15:21] JohnSmall opened #84 "limit method does not exist"
The documentation states

[code]

But limit is not a valid method. It should be eval_limit.

[2016-07-07 15:23] JohnSmall opened #85 "eval_limit and batch don't do what I expect"
I'm not sure what the chain eval_limit and batch should do e.g.

[code]

Should that get 5 records, in a batch of 5, or 5 batches of 5 records each?

When I tried it it scanned the entire table ignoring the limit.

[2016-07-07 17:15] xdougx commented on #43
Is there any changes on dynamoid repository?

[2016-07-14 12:24] pboling opened #87 "Dynamoid project needs additional maintainers"
Please!

[2016-07-14 16:10] alexQueue opened #88 "Support for Un-specified Attributes"
Sorry if this is the wrong place to put this,

I am working on a project where we intend to use DynamoDB as sort of an "attribute bucket" for any sort of attributes the user can dream of. We would like to use Dynamoid because it's an excellent, full-featured ORM, however the docs don't mention any support of unspecified attributes. Requiring a code-change to add a novel attribute to an object is n

[2016-07-17 05:56] oklas commented on #43
+1 Is this repository maintained?

[2016-07-24 04:13] esurdam opened #89 "Secondary Global Index Support"
What happened to support for ...

[code]

I noticed that its included in the test spec `spec/app/models/post.rb `, but I don't see it in the `Dynamoid::Document` module.

Thanks!

[2016-07-24 04:16] esurdam commented on #89
Found info here [#17](https://github.com/Dynamoid/Dynamoid/pull/17)

[2016-07-24 04:16] #89 closed

[2016-07-24 15:34] pboling commented on #89
@esurdam Also, I have expanded support for secondary indexes here:
https://github.com/Dynamoid/Dynamoid/pull/77

[2016-07-28 14:34] raunaklakhwani opened #90 "Migration from Dynamoid 0.7 to 1.1.0"
Hi,

I am using Dynamoid 1.1.0 and I am getting the following error on line:
require 'dynamoid/adapter/aws_sdk'

Error :
cannot load such file -- dynamoid/adapter/aws_sdk

[2016-07-29 04:24] cignoir commented on #90
Hi @raunaklakhwani,

Is this what you are looking for?
[dynamoid/adapter_plugin/aws_sdk_v2](https://github.com/Dynamoid/Dynamoid/blob/master/lib/dynamoid/adapter_plugin/aws_sdk_v2.rb)

[2016-07-30 12:55] raunaklakhwani commented on #90
Hi,

I have a web application in ruby on rails. I have migrated from rails 3.2
to 4.0.

I am using dynamoid 0.6 gem version.

After the migration, I am getting this error :

/home/lakhwani/FCLaunchRequirement/env/FCLaunchRequirementWebsite-1.0/runtime/ruby1.9/gems/1.9.1/gems/dynamoid-0.6.1.1/lib/dynamoid/config.rb:11:in
`<module:Config>': uninitialized constant ActiveModel::Observing (NameError)

[2016-07-31 06:52] raunaklakhwani opened #91 "Error while migrating from dynamoid 0.6 to 1.1"
Hi,

I am getting the below error while querying the dynamodb database.

**expected hash value for member 1 of key attribute_value_list of value at key is_submitted of option scan_filter**

I have recently migrated from dynamoid 0.6 to 1.1.

I am getting this error on line.

**Node.where(:is_submitted => 't').where(:is_signed_off => 'f').count**

Node is the model in rails application.

Below is t

[2016-07-31 12:45] cavi21 commented on #90
Hi! Looking into the backtrace looks like you are still running `dynamoid-0.6.1.1`. If you properly upgrade to `dynamoid-1.1.0` you also would need to upgrade the `aws-sdk` as seen in the [prerequisities](https://github.com/Dynamoid/Dynamoid#prerequisities).

[2016-07-31 12:51] cavi21 commented on #91
Hi! this issue is due to a similar situation that I mention on the other issue of yours [#70 Migration from Dynamoid 0.7 to 1.1.0](https://github.com/Dynamoid/Dynamoid/issues/90) but in this case I have a ***non-supported*** version of `aws-sdk` running along with `dynamoid 1.1.0`, you can see this in your stack trace:
[code]
and as states in the [prerequisites](https://github.com/Dynamoid/Dynamoi

[2016-07-31 13:04] raunaklakhwani commented on #90
Thanks for your quick response.

I did put wrong logs earlier.

I am getting the following error :

on the line :

Logs :

aws-sdk (1.20.0) lib/aws/core/option_grammar.rb:245:in `block in validate'
aws-sdk (1.20.0) lib/aws/core/option_grammar.rb:243:in `each'
aws-sdk (1.20.0) lib/aws/core/option_grammar.rb:243:in `validate'
aws-sdk (1.20.0) lib/aws/core/option_grammar.rb:346:in `block in validate'

[2016-07-31 13:21] cavi21 commented on #90
Look into your stack trace:
[code]
You are using **aws-sdk 1.x** that's not supported by  **dynamoid 1.x**

[2016-08-01 09:22] raunaklakhwani commented on #90
Cavilliotti,

Thanks a lot for your quick response.

I did see that and updated the aws-sdk to use 2.0 version.

Now I wonder when I pass config.endpoint = 'http://dynamodb.us-west-2.amazonaws.com' then I am able to connect to dynamo db but if I do not pass, then I get following error :

**Error:**

**Logs**

/home/lakhwani/FCLaunchRequirement/env/FCLaunchRequirementWebsite-1.0/runtime/ruby1.9/1.9

[2016-08-01 09:29] raunaklakhwani opened #93 "Error "value must be enumerable""
Hi,

I am using Dynamoid version 1.0 and I am getting the following error while executing the line :

**Line :**

**Error:**

**Logs:**

/home/lakhwani/FCLaunchRequirement/env/FCLaunchRequirementWebsite-1.0/runtime/ruby1.9/1.9.1/set.rb:85:in `do_with_enum'
/home/lakhwani/FCLaunchRequirement/env/FCLaunchRequirementWebsite-1.0/runtime/ruby1.9/1.9.1/set.rb:310:in `merge'
/home/lakhwani/FCLaunchRequir

[2016-08-02 09:34] raunaklakhwani commented on #90
Agustin Cavilliotti,

Thanks a lot. I got the issue that why I was not able to get aws-sdk
updated to 2. But Now everything is fine.

When I am trying to execute,

Node.where(:region => region).where(:is_completed => 'f').count

It gives me error:

value must be enumerable

Logs:

/home/lakhwani/FCLaunchRequirement/env/FCLaunchRequirementWebsite-1.0/runtime/ruby1.9/1.9.1/set.rb:85:in
do_with_enum'

[2016-08-02 10:12] cignoir commented on #90
Just for your information, activesupport 4.1.14.2 requires ruby1.9.3 or higher.
https://rubygems.org/gems/activesupport/versions/4.1.14.2

But I don't know whether to be directly related to that error.

[2016-08-02 12:34] pboling commented on #93
What version of Ruby are you using?

[2016-08-02 13:54] raunaklakhwani commented on #90
Hi,

I am making the dynamodb connection through

`Aws.config.update({
    region: region,
    credentials: Aws::Credentials.new(a.public.text, a.private.text),
  })`

I am getting the error while executing the line :

Error :

Logs :

/home/lakhwani/FCLaunchRequirement/env/FCLaunchRequirementWebsite-1.0/runtime/ruby1.9/1.9.1/net/http.rb:800:in `block in connect'
/home/lakhwani/FCLaunchRequirement

[2016-08-02 13:54] raunaklakhwani commented on #93
Hi,

I am making the dynamodb connection through

`Aws.config.update({
    region: region,
    credentials: Aws::Credentials.new(a.public.text, a.private.text),
  })`

I am getting the error while executing the line :

Error :

Logs :

/home/lakhwani/FCLaunchRequirement/env/FCLaunchRequirementWebsite-1.0/runtime/ruby1.9/1.9.1/net/http.rb:800:in `block in connect'
/home/lakhwani/FCLaunchRequirement

[2016-08-02 15:56] raunaklakhwani commented on #93
Hi,

I am using Ruby 1.9.3.

BTW Now I am struggling with *Seahorse::Client::NetworkingError* error.

I have no idea about this error.

Logs :

/home/lakhwani/FCLaunchRequirement/env/FCLaunchRequirementWebsite-1.0/runtime/ruby1.9/1.9.1/net/http.rb:800:in
`connect'
/home/lakhwani/FCLaunchRequirement/env/FCLaunchRequirementWebsite-1.0/runtime/ruby1.9/1.9.1/net/http.rb:800:in
`block in connect'
/home

[2016-08-05 01:14] munish-spokeo opened #94 "Looks like gem version (ruby gems) 1.1.0 is outdated."
Looks like gem version (ruby gems) 1.1.0 is outdated. It does not support indexes and was built in Dec'2015. Can we update the gem?

[2016-08-05 03:02] cignoir commented on #94
This causes another issue like #78. I hope to be updated too.

[2016-08-05 20:12] munish-spokeo commented on #94
Is this gem is maintained anymore?

[2016-08-07 12:06] pboling commented on #93
Seahorse is a tool that is part of the aws-sdk ruby library.  You might try a forum related to that.  But you're not going to get much help I think unless you are willing to upgrade Ruby.  Ruby 1.9.3 is no longer supported by anything or anyone.

[2016-08-07 12:06] #93 closed

[2016-08-07 15:07] pboling commented on #94
2 new maintainers were added 3 days ago, and we are working on a new version.  It did go through a period of almost-no-maintenance though.
Assistance is certainly welcome!  Right now I am struggling with getting Travis passing.  It seems to be a very fickle build.

[2016-08-07 15:14] pboling commented on #90
You do not need to do that at all, and that may be your problem.  Delete the `Aws.config` stuff and follow the README of *this project*.

Here is an example config:
[code]

In order for this to work you must set your keys as ENV variables correctly, such as:
[code]

There are probably other keys you need to set as well for the secret.

[2016-08-07 15:15] #91 closed

[2016-08-07 15:16] pboling commented on #87
Additional maintainers have been added.  Myself, @pboling, and @bglusman will be helping out from now on!

[2016-08-07 15:16] #87 closed

[2016-08-07 17:01] cavi21 commented on #94
Hi @pboling I deal with it a time ago, and I was able to narrow down to an issue on some memory limitations on the travis-ci VMs, I mention them in this other [PR #77](https://github.com/Dynamoid/Dynamoid/pull/77) and I'm happy to help on anything I can or if it's useful?

Let me know how do you want to do that?

[2016-08-07 19:06] bglusman commented on #78
If anyone else needs a gem based distribution, we're working on a new one but I had related issue and created dynamoid-edge gem release of a current master snapshot a few months back that will probably fix your issue @tvmendoza , but hopefully @pboling or I will be able to get a new gem release out on the official gem soon.

[2016-08-07 19:08] bglusman commented on #94
@cavi21 thanks!  Peter and I are the two new maintainers, but I haven't had a chance to do much yet...  @pboling do you think we can resolve the #77 test issues soon and should wait a few days for a release to include that, or perhaps just release current master as 1.2.0 and include #77 when ready as 1.2.1 perhaps?

[2016-08-09 18:41] bglusman opened #96 "Dynamoid::Criteria::Chain uses Enumerable#first for find by resulting in scan even if index is present"
We discovered this quite unpleasantly via accidentally hitting Dynamoid::Finders#method_missing when a refactor failed to configure some custom find_by methods under certain circumstances not caught by our test suite, but it seems like we can probably refactor this to use indexes when the find by is on an indexed attribute, if we define Dynamoid::Criteria::Chain#first to reflect on indexes and do

[2016-08-09 21:59] archonic opened #97 "Undefined method error on `index`"
The console message instructing what to add to my class to index had bad syntax.

    You can index this query by adding this to notificationeventemail.rb: index [:[:body, {:type=>:string}], :[:created_at, {:type=>:datetime}], :[:id, {:type=>:string}], :[:instant, {:type=>:boolean}], :[:notification_generator_id, {:type=>:integer}], :[:recipient, {:type=>:string}], :[:subject, {:type=>:string}], :

[2016-08-18 08:44] pboling commented on #97
Are you using the latest released version, or the master branch?  The advise on how to index is in fact incorrect.  You will probably need to setup secondary indexes if you want to query by non-primary keys.

[2016-08-18 09:50] cignoir commented on #54
I think [aws-sdk-ruby-record](https://github.com/aws/aws-sdk-ruby-record) has better DSL than my example and I know it is too expensive that implementing a new DSL for Dynamoid.

[2016-08-18 09:50] #54 closed

[2016-08-19 17:44] archonic commented on #97
In this particular case, I was querying by all attributes except id, created_at and updated_at to determine if there were duplicate records before saving. I should instead be using [updateItem](http://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_UpdateItem.html) for that. It looks like that was [left out](https://github.com/Dynamoid/Dynamoid/blob/5dfff232e57688d083b591d5ac3631b2afeba

[2016-08-23 04:20] pboling commented on #97
@archonic It is unlikely that any support will be added for any features unless you add them yourself.  This project is built by people who are building the features they are using for narrow use cases.

I would recommend looking around the network view and see if anyone else has worked on `updateItem`.

[2016-08-23 16:10] archonic commented on #97
I'll have a look around for `updateItem` and write it in if I don't see it.

Getting back to the topic, is there up to date documentation on the syntax of indexing (or secondary indexing), or is that unreleased?

[2016-08-24 04:27] raunaklakhwani opened #99 "DynamoDB With Ruby ON Rails"
HI,

I am having a rails application with dynamodb as database.
Ruby : 1.9.1
Ruby On Rails : 4.1
DynamoDB : 1.1

I am getting this error :

/home/lakhwani/FCLaunchRequirement/env/FCLaunchRequirementWebsite-1.0/runtime/ruby1.9/1.9.1/set.rb:310:in `merge'
/home/lakhwani/FCLaunchRequirement/env/FCLaunchRequirementWebsite-1.0/runtime/ruby1.9/1.9.1/set.rb:75:in `initialize'
dynamoid (1.1.0) lib/dynamoi

[2016-08-28 10:41] pboling commented on #97
I added support for secondary indexes in my fork.  Have a look at pboling/master.  I only understand it well enough to get it working, and based my work on the work of others already done.    Unfortunately I won't be of much help, but perhaps the secondary index implementation can serve as a template for what you want to accomplish.

[2016-08-29 19:20] codesoda commented on #70
FYI I'm seeing this as well, doing more investigation.

[2016-08-30 05:23] giridhar commented on #70
+1

[2016-09-02 21:33] archonic commented on #78
Master branch indeed fixes it, but I'm hoping the release with that fix is pushed to rubygems before we're ready to release our feature. Don't want to be bundling an unversioned branch in production!

[2016-09-04 08:51] pboling commented on #78
@bglusman @archonic I am going to release a patch update from current master, to get this particular fix out.  We have a lot of other work to do that will need to be in bigger releases.

[2016-09-04 10:28] pboling commented on #78
# 1.2.0

* Expose and fix truncate method on adapter (#52, @pcorpet)
* Enable saving without updating timestamps (#58, @cignoir)
* Fix projected attributes by checking for :include (#56, @yoshida_tetsuhiro)
* Make behavior of association where method closer to AR by cloning instead of modifying (#51, @pcorpet)
* Add boolean field presence validator (#50, @pcorpet)
* Add association build method (#

[2016-09-04 19:36] pboling commented on #78
Been trying to no avail to get specs passing.  Also made a few other improvements.  1.2.0 coming tomorrow I expect.
https://github.com/Dynamoid/Dynamoid/pull/100  Please review and comment!

[2016-09-04 19:50] pboling commented on #78
Release 1.2.0.  Please check it out!

[2016-09-04 19:50] #78 closed

[2016-09-04 19:51] pboling commented on #94
Test issues are resolved.  Version 1.2.0 is released.

[2016-09-04 19:51] #94 closed

[2016-09-04 20:35] #90 closed

[2016-09-04 20:36] pboling commented on #83
This has been released in 1.2.0 and 1.2.1.

[2016-09-04 20:36] #83 closed

[2016-09-05 03:53] pboling commented on #97
@archonic secondary index support has been merged to master.

Also the persistence layer has `def update!(conditions = {}, &block)` which calls the adapter's `def update_item(table_name, key, options = {})`.  You might try using one of those?

[2016-09-05 03:53] #97 closed

[2016-09-05 03:54] pboling commented on #75
Feature has been merged to master, and released in 1.2.1.

[2016-09-05 03:54] #75 closed

[2016-09-05 03:56] pboling commented on #99
1. Upgrade to at minimum Ruby 1.9.3
2. Install just released version of the gem, 1.2.1.
3. Try again.  Then report back if it still fails.

[2016-09-05 03:56] #99 closed

[2016-09-05 03:57] pboling commented on #24
Secondary index queries are now supported.  Please check out version 1.2.1.

[2016-09-05 03:57] #24 closed

[2016-09-05 04:00] pboling commented on #27
Yes, new maintainers just came on board.  We are working through the issues now.

[2016-09-05 04:02] pboling commented on #88
I will look into this.  I think we may have support for unspecified attributes, but if we do, undocumented.  Will find out.

[2016-09-05 04:03] pboling commented on #70
Please retry with newest 1.2.1.  I've just added the ability to make create_table synchronous, but I may still need to integrate it into the save hook.  Will find out.  Please test new release!

[2016-09-05 04:04] pboling commented on #60
Pull requests, and advice are appreciated.  This project is now under new maintainers.  What do *you* think would be the best way to fix this?

[2016-09-05 04:06] pboling commented on #9
@sumocoder any progress on this?

[2016-09-05 04:07] pboling commented on #8
I will try this out in the latest release to see if it is still a bug.  Thanks for the report!

[2016-09-05 04:08] pboling commented on #7
@joelpresence this is fixed.  Please try latest release 1.2.1!

[2016-09-05 04:08] #7 closed

[2016-09-07 15:12] pboling commented on #67
There is also https://github.com/ananthakumaran/fake_dynamo though I have yet to try it.  Note that the latest version is for an API that is newer than what the official Amazon Ruby client supports.  Amazon's RUby DynamoDB client is coded against the 2011-12-05 verison of the DynamoDB API, not the slightly newer 2012-08-10 version.

Strange I know.  How many fucks does Amazon not give about Ruby?

[2016-09-08 15:41] pboling commented on #67
This has the answer: https://github.com/Dynamoid/Dynamoid/pull/103

[2016-09-08 15:41] #67 closed

[2016-09-14 20:11] warebot opened #105 "Nested attributes"
Does Dynamoid currently support working with [nested attributes](http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Expressions.AccessingItemAttributes.html#DocumentPaths)

I failed to find anything in the documentation/README (or specs) that pertains to that.

[2016-09-15 04:04] pboling commented on #105
I am not sure.  I haven't used them myself.  @bglusman ?

[2016-09-15 11:53] bglusman commented on #105
Nope, I haven't either but also didn't know dynamo supported it, doesn't look like a brand new feature either, though not sure what a dynamoid api to support that would look like... @warebot can you give an example of how you would like to use this and what your application is?  Possibly we can add it or you could add and PR yourself but I doubt it's already supported.  I'm on mobile at the moment

[2016-09-15 14:32] bglusman commented on #105
I can confirm that Dynamoid does not handle deserializing Maps and Lists stored in Dynamo as such, though it does provide access to them as strings you could manually parse, and if stored correctly you might be able to construct index queries that will find them correctly since that all happens server side, but hard to say without digging into the indexing code.  Indexes are a bit strange (at leas

[2016-09-15 19:34] bglusman commented on #105
Also meant to add, currently Dynamoid needs support for the map types, which is probably the first thing to change here, but I think it already has support for arrays [lists in dynamo] and sets...  here's the code for [dump_field types](https://github.com/Dynamoid/Dynamoid/blob/master/lib/dynamoid/persistence.rb#L299) and [undump_field types](https://github.com/Dynamoid/Dynamoid/blob/master/lib/dy

[2016-09-16 04:58] pboling opened #106 "Refactor on"
@bglusman [said](https://github.com/Dynamoid/Dynamoid/issues/105#issuecomment-247428850)

This is something we need to investigate and consider.

[2016-09-16 05:01] pboling commented on #105
@bglusman -

I think that is a worthwhile idea, so I [created issue](https://github.com/Dynamoid/Dynamoid/issues/106) for it.

I definitely don't have time to work on this much, aside from providing what little insight I have.  I am new to DynamoDB myself, and using this gem as a crutch, like the rest of us.

[2016-09-19 14:20] bglusman commented on #105
@warebot just a heads up, you may well be doing a full table scan when you do that, don't think `where` can automatically use indexes, even if present/relevant to your query, see #96

[2016-09-20 05:34] archonic opened #107 "Aws::DynamoDB::Errors::ValidationException"
[code]

It looks like this is something Dynamoid could take care of in house. A nil or empty attribute should be omitted.

Update: I've taken a closer look and it looks as if something like `DynamoidModel.new(whatever: nil, another: "")` isn't a problem. I'll have to dig deeper to see what's causing this issue.

Another update: It's specifically a `where(..).any?` causing this. I have a `duplicate

[2016-09-21 10:02] deepakshinde opened #108 "Don't gives correct count"
[code]

Last query is working as expected But first one gives wrong result

[2016-09-22 19:41] filler012 commented on #70
This issue still persists in 1.2.1

[2016-09-27 10:12] gastzars commented on #108
**DynamoDB** count value is update around **once per 6 hours**.
While, your `User.all.count` is about to **scan** all rows, then count the result array within ruby, that's why.

[2016-10-27 20:13] everett-wetchler opened #112 "Why no nesting of models in Dynamoid?"
As I see it, the main advantage of DynamoDB (and Mongo and other document databases) is to be able to nest models in documents. E.g., to have a Person table with string fields like "name" but also fields like "address" which may itself be an object with "street" and "city" and "zip" etc.

Why does Dynamoid spread them into separate tables with foreign keys, effectively relationalizing a document d

[2016-11-01 07:41] pboling commented on #112
This is just one way to wrap DynamoDB.  People use DynamoDB to store all kinds of different information.  In my projects I do not nest models in documents within Dynamo, or at least not in models that use DynamoDB, but I do access DynamoDB via other methods for other use cases.  This helps people map a specific use case onto DynamoDB.  I don't even use the foreign keys.  I just use it for the ease

[2016-11-01 07:41] #112 closed

[2016-11-01 20:41] 1kevinxu1 opened #113 "Rails 5 support + ActiveRecord associations?"
Hi, I'm a new developer so I'm not sure if this is the best place to ask these questions, let me know if I should move this somewhere else. I'm running a small project in Rails 5 and would like to use Dynamoid, and I saw that support was in the works. Is there any estimate on when that version will be released?

Also, when I assign associations in Dynamoid, is there any built in way to assign ddb

[2016-11-02 10:25] pboling commented on #113
No.  But, you can test out Rails 5 support by pointing to master.  This gem is not so widely used that you can wait for others to test Rails 5 and wait on a release, so I recommend doing that yourself, and reporting back if successful or not.

Hopefully it will be released soon.  I don't think any of the maintainers use Rails 5 on any projects yet, so support and testing has all been from the comm

[2016-11-02 14:48] 1kevinxu1 commented on #113
Ok! Thank you for your quick response, it's very much appreciated. Just a silly follow up question—what do you mean by pointing to master? Do you mean forking the gem?

[2016-11-03 09:54] pboling commented on #113
Your project has a `Gemfile`.  In there you can specify dependencies on the `HEAD` version of gems, to use the latest, unreleased, code.

For example:
[code]

[2016-11-08 17:01] xkraty opened #114 ""Foreign key" for associations"
I have a problem with relations, I'm migrating an app from node to rails, unfortunately I didn't make it so naming are not really standard; I have a model Release and a model Artist

[code]

[code]

The problem is that my relation field in Release is named artists instead of artists_id so i can't get it to work; it would be the foreign_key field but I'm not understanding how to do it here, I gave

[2016-11-14 19:52] pboling commented on #114
That's a part of this project I am not familiar with.  @bglusman any idea?

[2016-11-25 18:22] joseronierison opened #115 "Get previous item"
Hi Guys!

I need the previous item id from other item, that is I have id from eleventh item in a list, I need the tenth item id.

Has a way to do that?

Best regards!

[2016-12-02 19:46] pboling commented on #115
Can you give a code example of what you are trying to do?  Or the part that you have figured out?

[2016-12-08 13:26] NielsKSchjoedt opened #117 "Default values does not seem to work for :serialized fields"
[code]

doesn't work

[2016-12-08 18:09] NielsKSchjoedt opened #118 "How do you batch save objects?"
I can see that `batch_write_items` was incorporated recently. I can't seem to figure out though, what would be the way to batch persist an array of objects?

[code]

[2016-12-13 06:11] pboling commented on #118
[code]

Does that help?

[2016-12-13 07:59] NielsKSchjoedt commented on #118
Great I will do, only question I have -> `data` what exactly will that be? `Item` objects or raw hash data or?

[2016-12-13 10:15] NielsKSchjoedt opened #119 "How can I enforce an UpdateItem call with changed attrs instead of a PutItem?"
I use a custom (and predictable) hash_key for my items.
Dynamodb has the possibility of either updating or creating an object, if you use UpdateItem instead of PutItem (a bit like postgres's `upsert`).

I would like to utilise this for new items. This way I can avoid a roundtrip checking if the object with the hash_key already exists, before calling save, instead It will just be updated with whate

[2016-12-13 22:35] pboling commented on #118
`data_array` and `data` are arrays of Item objects in your case, yes.

[2016-12-13 22:37] pboling commented on #119
I do not know if this is implemented in Dynamo.  I don't, and wouldn't, use it for the use case I have with Dynamoid.  If you can't find any reference to `UpdateItem` in the code, then it isn't implemented, and will require someone with vested interest to do it.

[2016-12-13 22:40] pboling commented on #43
@xdougx There is at least one PR that attempts to address this.  None of them has been accepted yet.

[2016-12-13 22:41] pboling commented on #117
@xdougx There is at least one PR that attempts to address issues with serialization.  None of them has been accepted yet, and all are failing the build and are waiting on someone to rebase them on latest master (master build is green again!)

[2016-12-20 20:11] jonathanhoskin opened #120 "NewRelic Instrumentation Support?"
Hi team Dynamoid.

Firstly, I wanted to say thanks for the awesome library, we're using it in a new production Rails app with ~200k users and it has been great!

I wanted to check if there were any plans to implement NewRelic instrumentation in Dynamoid, for the purposes of identifying the DynamoDB backend as a 'Database'.

Currently, the calls to DynamoDB are seen as an 'External' service by NewR

[2016-12-29 03:33] bglusman commented on #120
@jonathanhoskin I think we're always open to PR's like this, provided it doesn't add dependencies... but @pboling has been much more actively using and maintaining then myself recently (we're gradually moving away from Dynamo, though still use it somewhat).

[2016-12-29 03:37] pboling commented on #120
The original maintainer no longer uses it, and my use case for Dynamo, is pin prick thin, and on an app that is very outdated (which is why there isn't much progress on Rails 5 issues).  I only use a very small set of the features, and those I use very heavily.  The library already does all the things I need, so I don't have plans to work on it much more myself, aside from reviewing PRs and encour

[2017-01-05 21:42] jonathanhoskin commented on #120
Thanks @bglusman & @pboling for your replies.

I'd be keen to contribute. I'm pretty happy with the current set of features, but things like the NewRelic integration would be things that I'd like to help improve.

For now, I'll work on my own fork that will implement the NR instrumentation, and if the PR suits the maintainer team we should have that discussion about joining the team.

[2017-01-06 20:02] dahnny012 opened #121 "Get Item not outputting correct benchmark results"
So I ran  Test.find_by_composite_key(id, range_key)

And this was the result in the log.

(65.0 ms) GET ITEM - [["test_table", "some uuid here", {}]]

It looks like its because the args in https://github.com/Dynamoid/Dynamoid/blob/61165921a2b5a543316d3d70adfd2eda2bcd0bdf/lib/dynamoid/adapter.rb#L148 should be *args?

Not too familiar with ruby.

[2017-01-07 20:29] welkie opened #122 "Question about support for associations"
In the readme.md, it says first:

But then later it says:

I was wondering if anyone could clarify whether or not you can form associations using foreign keys implicitly like this a la ActiveRecord.

Thanks.

[2017-01-08 00:13] welkie commented on #70
Issue persists with gem pulled from master branch of repo as of today.

[2017-01-09 06:23] pboling commented on #120
@jonathanhoskin 👍 Awesome.  Looking forward to seeing what you come up with!  Leaving this open to link to an eventual PR.

[2017-01-09 06:25] pboling commented on #70
I will look into this if I have time.  Otherwise, pull requests (with specs?) are welcome!

[2017-01-09 06:34] pboling commented on #121
Yes, it looks like it would be cleaner to make it `*args` there.  I will make this change and see what the effect is.

[2017-01-09 15:55] welkie commented on #118
Why does Dynamoid limit the number of items that can be batch saved to 25 per request? Was this a limitation of the underlying DynamoDB driver? If not, what was the technical reason for this limitation?

[2017-01-10 01:35] pboling commented on #118
This is a limitation of the Amazon DynamoDB service.

Ref: http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Limits.html

[2017-01-10 01:49] #118 closed

[2017-01-10 05:18] welkie commented on #122
Tested this myself, and it works great! I had the following two models:

[code]

And I was able to create comments in two ways:

I was able to create a user, then create a comment, then associate the comment with the user:

[code]

But I was also able to do this same association inline:

[code]

I did this test with Rails 5 (with Dynamoid pulled from the master branch of the Git repo) and the loca

[2017-01-10 05:25] pboling commented on #122
Go ahead and submit the PR I can release a new patch directly after merging.

However, perhaps you did not notice the subtlety in the Readme.  Your comment indicates you tested with `.create` and as the Readme currently states, this works.

What the Readme says does **not work** is `.new`.  Did you test that?  It may be that the Readme is still correct.

[2017-01-10 05:41] welkie commented on #122
Ahh that is true. I did misinterpret the readme. ```.new``` is not working, only ```.create``` is. Sorry about that. :(

[2017-01-10 06:06] pboling commented on #122
@welkie Also feel free to make the Readme more clear in your PR, if you make one!

[2017-01-11 22:12] cavi21 opened #123 "Question about the item limit and associations"
Hey guys! I started wondering about the items limit that **DynamoDB** has of **400Kb** and the associations of the **Dynamoid** gem provides, because for instance the `has_many` association will be contain (as the README mention) within the object, so potentially we will have in that field a value (in this case the set of _foreign ids_) that will be larger than 400kb, right?

Seems that I'm missin

[2017-01-12 00:27] welkie commented on #123
The limit refers to the amount of space a single DynamoDB item can occupy when stored in the database. The neat thing about these ORMs is that they're so abstract. They return objects of types defined in the ORM, not the document data itself. So for example if we have a User which ```has_many :addresses``` and an Address which ```belongs_to :user```, created a User, added an Address to their ```ad

[2017-01-12 15:42] cavi21 commented on #123
Hi @welkie thanks a lot for taking the time to write about it. As you said in the "edit" part... my concern is about the stored data, and in particular, what an **item** means to DynamoDB, my intuition is that an **item** is a hole registry (object) with their attributes values, right?

And reading about the limits in [here](http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Limits.ht

[2017-01-12 16:10] welkie commented on #123
My interpretation is that *item* is the noun they use to refer to objects stored in the database, equivalent to an SQL row or MongoDB document. So when they say the **item containing the values**, they mean the values could be anywhere in that item, perhaps a top level field, perhaps nested somewhere inside, but that entire item can't go over 400 KB.

I would love to hear, from those who have used

[2017-01-13 02:38] pboling commented on #123
I have not looked into this, and have not run into any problems... yet.  It would seem that creating a record with thousands of associated records through has_many would explode this limit.  It is now on my list of things to try eventually.

[2017-01-15 06:33] gsampathkumar opened #124 "changed namespacing does not work if a global secondary index is defined on a table"
I've implemented a sharded scheme for our DynamoDB setup. The logic is as follows:

<figure out what shard our data is in>
Dynamoid.configure do |config|
  config.namespace = "sharded namespace"
end
<query tables>

This works perfectly in the development environment. On the production environment it works for any table that does not have a global secondary index and fails for the others.

[2017-01-15 23:45] pboling commented on #124
Ouch.  I am doing the same thing for sharding (shards for the different environments).  However I only use tables with global secondary index, so I suppose I haven't seen this issue.  Can you create a failing spec?

[2017-01-16 11:43] cavi21 commented on #123
Awesome @pboling thanks for the insight! it's weird though that anyone run into this so far, right? But maybe we can create a spec for it, not sure how without creating thousands of records.

Let me know If I can help in anyway.
Have a nice week.

[2017-01-16 14:56] welkie commented on #123
I'm definitely a noob when it comes to this gem and DynamoDB, so correct me if I'm wrong, but isn't the reason the foreign keys are stored on both sides of the association because of DynamoDB's older weaker support for indexes? And doesn't the official Ruby SDK support indexes better now? In fact, in other issues, I've seen people mention the official Amazon-backed [aws-record gem](https://github.

[2017-01-16 22:58] pboling commented on #123
There really aren't any experts here at all.  One of us will have to put in the work to understand these issues.  Hopefully before one of us goes down in flames. ;)  Given enough time I will look into this, but it likely won't be soon, since for me there is no pain here yet, and I am very busy.

This project needs more maintainers who use this project for fully.  My use case is very thin.  I don't

[2017-01-16 23:02] pboling opened #125 "Call For Maintainers!"
**This project needs more maintainers who use the project more fully.**

**I only use a thin slice of the functionality, as I don't use associations through this gem at all.**

Please step up if you are willing to dig into Amazon DynamoDB docs, and help us with fixing bugs and implementing new features.  I am not an Amazon DynamoDB expert, but I am a Ruby expert.

[2017-01-17 06:14] welkie commented on #123
I'm strongly considering using Dynamo for a few mobile app back ends. I like the idea of getting 25 GB of space for free instead of just 500 MB (with Mongo) when I use Heroku.

I'll try to learn more about how this gem ticks and I can see myself becoming a maintainer when I get the hang of things. :)

[2017-01-17 07:05] pboling commented on #123
@welkie You get free space because they charge you for a "query rate" instead of for space.  It only marginally scaling, and if you exceed your paid rate, and have no accumulated extra to draw from (short life span on accumulations) then your queries die a hard death, literally just data loss.  So you have to have all your queries in a system with exponential backoff retry in order to be robust.

[2017-01-17 11:41] cavi21 commented on #123
Thanks @pboling for taking the time maintain this gem and also to explain some of the cons that may have depending on the use case of it. As @welkie I'm not that much into **DynamoDB** internals, and also the project I'm working on doesn't need (as for right know) a lot of the features that DynamoDB offers, but that could change eventually... not sure. I'm also happy to help with it as much as I c

[2017-01-17 15:30] welkie commented on #123
@pboling Actually at work, we studied Dynamo and other database technologies heavily before settling on one that worked best for us, and I found that Dynamo's cost is a function of data stored, provisioned throughput capacity, and data egress. Each has free tiers, where you get 25 GB stored, 25 units, and 1 GB/month respectively. We settled on Mongo for the project because it involved storing mass

[2017-01-17 15:49] cavi21 commented on #125
As @welkie suggest on this other issue **#123** we should keep this conversation going here, and make sense, right?

I mention about reaching out the collaborators on the **[aws-sdk-ruby-record](https://github.com/aws/aws-sdk-ruby-record)** because this gem was created by a [AWS Labs](https://github.com/awslabs) member (@philipmw) so that's why I thought about it.

[2017-01-18 01:03] pboling commented on #125
Yes, we should continue discussion here.  Part of the problem with this gem is it does not rely on `aws-sdk-ruby-record` as much as it could, and probably should.  This may be due to timing on the two projects.  @philipmw is no longer involved with this gem, and has passed on maintenance primarily to me, and I use this gem for a very narrow use case, which is working great.

We should evaluate how

[2017-01-24 02:46] danlelandsuarez opened #127 "WebMock::NetConnectNotAllowedError in RSpec for application using Dynamoid"
I need to check whether a record has been created in my spec, but running `<TableName>.all.last` in my spec throws a `WebMock::NetConnectNotAllowedError` instead of just retrieving the value. This is how my spec looks:
[code]

[2017-01-24 03:51] pboling commented on #127
DynamoDB is a service, and accessing it results in web requests, unless you have configured your DynamoDB to hit a fake instance somehow.  This is easily done with AWS such that no AWS clients will make any real requests in your test env.

In `spec_helper.rb` (or `rails_helper.rb`):
[code]

There are a number of other things you could do as well to avoid the requests.

References:
https://aws.amaz

[2017-01-24 03:51] #127 closed

[2017-01-30 23:36] mgonzaleza opened #128 "Question: Persistance"
Hi guys, can someone give me hand with this issue I am having?

I am able to save and query my model. However, if I create a new instance of the AWS client with the SDK(say, via the rails console: `dynamoDB = Aws::DynamoDB::Client.new(region: "localhost", access_key_id: "access-key", secret_access_key: "secret-key",endpoint: "http://localhost:9010")`
and try to get the list of tables: `dynamoDB.li

[2017-01-31 08:34] cignoir commented on #128
It seems that each client points to a different location, but I don't know the clear cause at the moment.
Could you please try the following method to show tables?
[code]

[2017-01-31 15:37] mgonzaleza commented on #128
@cignoir That works like a charm, thanks! I wonder, if it's just an issue with DynamoDB Local...

[2017-02-01 07:14] pboling commented on #128
@mgonzaleza -
If you are going to stick around Github please learn how to format code:
Three backticks to start a code block, and three backticks to end a code block:

\`\`\`

[2017-02-01 14:45] mgonzaleza commented on #128
@pboling Thanks for the tip and it's all good now.

[2017-02-02 10:18] devhyunjae opened #129 "How can I change the foreign key name??"
[code]

[code]

[code]

seems like it is using the default fk convention `product_id`

Can I change this like below?

```belongs_to :product, class: :Product, foreign_key: :ProductID```

looks like this doesn't work

[2017-02-03 00:59] gsampathkumar opened #130 "Pagination with start row does not work. limit does not work"
Using syntax from the below example in the dynamoid documentation. The start row does not get respected and the return results are always from the first row:

address = Address.where(id: <id>).first
Address.eval_limit(5).start(address) # Only 5 addresses.

------------------------------------------------------------------------------------------------
When I try something similar to this:
Address.

[2017-02-06 05:30] #128 closed

[2017-02-11 03:00] mgonzaleza opened #131 "Finder: find_all_by_secondary_index does not return all the item values"
Hey guys,

So I have a table with around 40k records, regular finders cannot find my item:

``` Zip.where(:zipcode => '12155').first ``` returns nil

I am however able to get my missing item via a global secondary index:

``` Zip.find_all_by_secondary_index({:zipcode => '12155'}).first``` which returns:

``` #<Zip:0x007fef080eb1f0 @new_record=false, @attributes={:created_at=>nil, :updated_at=>nil,

[2017-02-17 15:43] pboling commented on #131
I actually only use the secondary index for what I do with Dynamoid.  I am not familiar with the Active Record-ish use cases.  Perhaps another user can comment.

[2017-03-06 12:37] england opened #133 "Reserved word field problem"
Hi, looks like using of reserved words as a field names cause problems like `expected no Exception, got #<NameError: wrong constant name something>` where "something" is a field value.
Test case [here](https://github.com/england/Dynamoid/commit/6a79104f9aea5a694d55e0ebdfd6a7919e0d5bfd)
Any ideas?

[2017-03-06 20:49] dahnny012 opened #134 "Dynamoid Behavior when GetItem takes >5000ms"
Hey I don't know how to test this but what is the expected behavior when DynamoDB drops a GetItem after  5 seconds? Does Dynamoid retry?

[2017-03-08 12:03] england commented on #133
Ок, this is a reserved field name for STI

[2017-03-08 12:03] #133 closed

[2017-03-09 08:39] pboling commented on #133
There are ways to get around the default field name for STI - but if you can avoid it you really don't want to go down that road.

[2017-03-09 08:47] pboling commented on #134
Excellent question.

I do not know the specific answer, and would have to investigate to find out.  But I can tell you the spirit this code was written in:

Failures at the data store should not be handled by the gem, but should be handled by the caller.  Every use case will require something different.  Some users may appreciate the timeout (if, in fact, there is one) and handle failures by pushi

[2017-03-24 09:15] kekla opened #135 "boolean field in where() condition"
In lib/dynamoid/persistence.rb line 317:
`!value.nil? ? value.to_s[0] : nil`
If I save a boolean field as true or false, it will be saved as string 't' or 'f'.
`.where(:some_boolean_field => true)` won't get correct results, I have to change to  `.where(:some_boolean_field => 't')`.
Do you think it's a good idea to use true/false instead?

[2017-03-25 12:09] pboling commented on #135
That kind of translation can be done in the adapter (that's how Rails / ActiveRecord does it).
We can't change the way the data is stored at this point as it would break compatibility with old data.  For now you will have to use `t` or `f` in the query.  We should look into translating `true` and `false` in the adapter.

Leaving this open for that.

[2017-03-27 10:10] pboling commented on #135
I have implemented this feature in release 1.3.1 just now.  :integer, :string, and :boolean fields are now run through the same dump process that happens when values are written to Dynamo.

Result: you can query like `where(admin: true)` now.

[2017-03-28 18:36] archonic opened #138 "Range Finding example fix"
The readme has this as an example:

    User.where("created_at.gt" => DateTime.now - 1.day).all

This caused `ArgumentError: unsupported type, expected Hash, Array, Set, String, Numeric, IO, true, false, or nil, got DateTime` for me. I had to convert to integer instead.

    User.where("created_at.gt" => 1.day.ago.to_i).all

[2017-03-29 00:34] archonic commented on #138
Upon inspection, it seems dynamoid can't find anything involving a date range query. Does the date range example work for anyone? I'll have to use the AWS SDK directly if not. Kinda defeats the purpose...

[2017-03-30 08:32] pboling commented on #138
That may be due to changes I made in the latest release from a few days ago.  I'll take a look and see if I broke something.

[2017-03-31 21:15] archonic opened #139 "1.3.1 breaks rake migrations"
Using 1.3.1 I'm able to load the application (start a console, query things), but when running `rake db:migrate`, it errors out with `NameError: uninitialized constant Account::Exportable`. The error is non-sense, it's just complaining about including the first module it finds in the first file it checks. Moving back to dynamoid 1.1.0 fixes it. That's a very serious issue, obviously.

[2017-04-01 03:33] pboling commented on #139
Serious indeed.  I will investigate this.

[2017-04-07 03:24] thilo opened #141 "default value is shared across instances"
Hi, while using this extremely helpful gem we came across an issue. As the default value is defined on the class level it was shared between instances that could lead to bugs when the default value was mutated as it would mutate it for all instances using that default. I wrote a test and fix in #140

I hope that is correct. Let me know if I can improve it any further.

[2017-04-08 08:44] Spazer9 opened #142 "How to limit returning results when using find_all_by_secondary_index?"
Tried to look up the docs for something that caps returning records when quering by a secondary index. found nothing!

Any advice?

[2017-04-11 21:54] pboling commented on #141
Merged, thanks!  I may implement a more robust config solution at some point, but for now this works.

[2017-04-11 21:54] #141 closed

[2017-04-14 16:32] ruslankhaertdinov commented on #139
Same issue: `NameError: uninitialized constant Angle::LatitudeValidator` and also with `rake db:migrate` and `1.3.1`

[2017-04-18 10:45] dmitrytrager opened #144 "Optimization: Support "COUNT" Queries"
Version 1.3 introduced [last_evaluated_key support](https://github.com/Dynamoid/Dynamoid/blob/master/lib/dynamoid/adapter_plugin/aws_sdk_v2.rb#L438) for queries and this is just great. However, when I need to count elements in query result, I will have to go through all items of enumerator which is very slow. For example, with support of "COUNT" queries I could just sum counts from little (1Mb) qu

[2017-04-21 09:22] pboling commented on #144
Sounds like it would be worthwhile.  Interested in doing a PR?

[2017-04-26 07:11] pboling commented on #139
Was introduced between 79dab0c7ea49480a40c021bfe632f131b237cbcc..eb3965d6920466894192bbcf49188afffc585be3

[2017-05-12 01:02] nolantait commented on #139
I think it's actually because of the way models are loaded. At least it was for my specific problem.

Line 6 of https://github.com/Dynamoid/Dynamoid/blob/master/lib/dynamoid/tasks/database.rake
`Dir[ File.join(MODELS, "*.rb") ].sort.each { |file| require file }`

Removing that line allows it to skip trying to require models out of order. There is probably a better way to load models from a rails a

[2017-05-15 04:54] pboling commented on #139
Wow.  @nolantait - you are right.

The problem is straightforward.  You can't load Rails models outside rails very well.  Rails is not designed to require dependencies in every file, rather it is designed to auto-load things.  But outside the rails environment the auto load paths are not configured, so most things won't be able to be found by Ruby.

The `=> :environment` option makes the task load

[2017-05-15 05:00] pboling commented on #139
Released 1.3.2 with the fix.

[code]

[2017-05-15 05:00] #139 closed

[2017-05-25 13:08] madhusudhan518 opened #145 "how to update already existing global secondary index with new projected attributes"

[2017-06-13 21:39] ravindra-ut opened #151 "Querying for table which has camel case name"
Hi,
    We already have a legacy table with camel case name: example 'MyBigQueryTable', When I use dynamoid to query the above table, table name gets converted to “mybigquerytable” all in small letters, which results in “Resource Not found”. Can you please help me resolving this issue?

[2017-06-13 22:48] ravindra-ut commented on #151
Yeah, I have figured out. Didn't read documentation properly(my bad). Posting the solution here,
class MyBigQueryTable
  include Dynamoid::Document

  table :name => :MyBigQueryTable
end

[2017-06-13 22:48] #151 closed

[2017-06-19 12:46] RedaBenh opened #152 "Support for admin panel gems like: activeadmin, rails_admin or typus"
Hi,
Do you plan to support admin panel gems like: [activeadmin](https://github.com/activeadmin/activeadmin), [rails_admin](https://github.com/sferik/rails_admin) or [typus](https://github.com/typus/typus) ?
Thanks

[2017-06-20 21:20] pboling commented on #152
I am not sure what you are asking.  I don't think any of them have integration directly with Dynamoid, though it may be possible to integrate them.  I haven't used any of them together myself.

Any one else know?

[2017-06-22 21:58] #121 closed

[2017-06-22 21:59] #36 closed

[2017-06-22 22:03] pboling commented on #125
CC @andrykonchin - Are you interested in being a maintainer?  See above discussion.

[2017-06-22 22:10] pboling commented on #142
I think, look for `eval_limit` in the Readme (recently updated!)

[2017-06-22 22:10] #142 closed

[2017-06-22 22:11] pboling commented on #130
The readme had a typo.  `eval_limit` is the correct syntax, not `limit`.  The readme has been fixed.  Thanks for the report!

[2017-06-22 22:11] #130 closed

[2017-06-22 22:15] pboling commented on #117
@NielsKSchjoedt This is fixed in latest master.

[2017-06-22 22:15] #117 closed

[2017-06-22 22:16] pboling commented on #113
Closing this, Rails 5 is now supported.

[2017-06-22 22:16] #113 closed

[2017-06-22 22:17] pboling commented on #84
This is now fixed.

[2017-06-22 22:17] #84 closed

[2017-06-22 22:18] pboling commented on #85
@andrykonchin do you have any idea about this?

[2017-06-22 22:18] pboling commented on #43
Rails 5 support is done.

[2017-06-22 22:18] #43 closed

[2017-06-22 22:19] pboling commented on #44
This is fixed.

[2017-06-22 22:19] #44 closed

[2017-06-22 22:20] pboling commented on #9
@andrykonchin this is done now, correct?

[2017-06-23 23:50] mirokuxy commented on #138
still not fixed?

[2017-06-24 09:04] pboling commented on #138
There has been no PR to fix this.  I haven't had time to look into it.  I'll see if I can figure something out.

[2017-06-29 17:04] richardhsu commented on #145
Did you recreate the index afterward?

Changing the `projected_attributes` in the model will not affect the existing index. In this case if you created the table based on the original parameters then your table will have only included the initial set of projected fields, i.e. `[:name, :email, :mobile_number]`.

If you want to update to include `:address`, you'll need to recreate the Global Seconda

[2017-06-29 17:37] richardhsu commented on #131
From my use of Dynamoid so far, this is the case. It depends on how you want to look at the use case, because you are charged based on queries rather than storage. So if you look at it with the `where` type case with not all fields projected but you want to have all fields projected, then you're ALWAYS going to have 2 queries. 1st for the Global Secondary Index for the ID and 2nd on the actual pri

[2017-06-29 21:01] pboling commented on #131
@mgonzaleza you can have a global secondary index query return other attributes that are not part of the global secondary index.  These are the macros I use:
[code]

That last bit - the `projected_attributes` is what makes the secondary index query return other attributes.

[2017-06-29 21:36] mirokuxy opened #160 "delete_table and create_table in Sync mode not waiting for action to finish (not really sync)."
as the title says.

[2017-07-03 10:58] madhusudhan518 commented on #145
So there is no such thing like update indexing. We need to delete index and re create again.
Thank you @richardhsu .

[2017-07-04 17:04] andrykonchin commented on #85
@pboling

`Model.where({}).eval_limit(n)` means we load first `n` items

`Model.where({}).batch(m)` means we load all matched items but internally paginate them and load `m` items at a time.

`Model.where({}).eval_limit(n).batch(m)` chain completely ignores limit `n` and works like `batch` call. But yes, I was expected behavior described by @JohnSmall too.

[2017-07-04 17:07] pboling commented on #85
So, it is a bug 👍 , We'll leave this open to track it until we fix it.

[2017-07-04 21:48] #160 closed

[2017-07-05 10:31] gaiottino opened #163 "Index help"
I'm trying to prevent my queries from always scanning and I've added

[code]

to my model.  I'm attempting to run

[code]

but receive `Dynamoid::Errors::MissingIndex: attempted to find ["owner", nil]`. It doesn't seem that the `rake dynamoid:create_tables` will create the index. Do I have to do this manually or can Dynamoid help?

Thankful for any help/insights you can offer.

[2017-07-05 17:42] pboling commented on #163
If **losing all your data** is possible you can delete and recreate.  When recreated it will be created according to the *current* class definition, including indexes.
[code]

[2017-07-13 10:33] madhusudhan518 opened #168 "Few items are not indexed into GSI"
i have two Global Secondary Indexes.
One GSI contains only hash key and another GSI one have both hash key and range key.
both will back filling items but few items are not indexing in first GSI and few items are not indexing in  another GSI.
I thought it as index key violation. Then i tried to Detecting and Correcting Index Key Violations using Violation Detector based on http://docs.aws.amazon.c

[2017-07-24 12:03] pboling commented on #168
What do you mean by backfilled?  I am not familiar with that idea in the context of global secondary indexes on DynamoDB.

The only relevant thing I think may be related is that if you add fields to an index you have to create a new index, the old index won't get updated with the new field for old entries.

[2017-07-24 12:04] pboling commented on #129
@andrykonchin do you know if this is possible?

[2017-07-24 13:47] andrykonchin commented on #129
@pboling sure it's possible but I cannot estimate required amount of work because I didn't dive into associations mechanism

[2017-07-25 07:27] madhusudhan518 commented on #168
Hi @pboling , Thank you for your reply.
  Backfilling means- For each item in the table, DynamoDB determines which set of attributes to write to the index based on its projection (KEYS_ONLY, INCLUDE, or ALL). It then writes these attributes to the index. During the backfill phase, DynamoDB keeps track of items that are being added, deleted, or updated in the table. The attributes from these items

[2017-07-26 05:25] pboling commented on #168
How is your GSI defined?

I have a GSI defined like this:
[code]
And it is working when queried like this:
[code]

[2017-07-26 05:38] pboling commented on #129
@devhyunjae I do know that if you define a Global Secondary Index you will be able to specify the column name to be queried against.  See my example here if that interests you:
https://github.com/Dynamoid/Dynamoid/issues/168#issuecomment-317951295

[2017-07-27 04:45] pboling commented on #70
This is fixed in master.  There will be a new release soon.

[2017-07-27 04:45] #70 closed

[2017-07-27 04:47] pboling commented on #6
@afgarcia86 this is supported in the latest master.  A new release will be out soon.

[2017-07-27 04:47] #6 closed

[2017-08-08 15:59] andrykonchin commented on #125
@pboling looks like I am ready :-)

[2017-08-08 21:36] richardhsu commented on #145
@pboling Should we start a wiki or add a FAQ to the README? Seems like this sort of question was in few issues questions so might be worthwhile to address in a global way

[2017-08-10 00:01] richardhsu commented on #138
Can close this issue :) Thanks @andrykonchin, needed this too!

[2017-08-10 20:49] welkie commented on #125
@andrykonchin I just wanted to say I still watch this repo even though I don't use AWS (or Rails lol) much these days, but I admire the work you're putting in on this software. I'm sure others feel the same way.

[2017-08-10 22:19] pboling commented on #125
@andrykonchin - awesome.  Will see if I can add you.

[2017-08-10 22:28] #138 closed

[2017-08-10 22:28] pboling commented on #138
@mirokuxy fixed!

[2017-08-10 22:29] pboling commented on #145
@philipmw is the only admin on the project, and is no longer active.  I think a community wiki is a great idea.

[2017-08-16 05:50] jnst opened #175 "When will you release the next version?"
I want to use :application_timezone config option.

[2017-08-16 09:05] pboling commented on #175
Sometime today. :)  Thanks for the push!

[2017-08-16 09:10] andrykonchin commented on #175
I believe the gem should be released ASAP, but...

* I suspect there is a bug with recently added `datetime` type
* not all changes are reflected in Readme
* at least one bug (with limit/batch) isn't fixed and tested

I would like to postpone release for several days to fix these issues

[2017-08-18 12:39] jnst opened #178 "How to use limit with condition"
Can I use the `eval_limit` with a conditional expression like `where`?
My code did not work as intended.

Model:
[code]

Code:
[code]

Version:
[code]

[2017-08-18 14:49] andrykonchin commented on #178
`limit` is fixed on the master branch

Run following test agains master

[code]

[2017-08-18 15:45] jnst commented on #178
Thanks! It works.

[2017-08-19 06:11] pboling commented on #178
@jnst there will be a new release soon with this fix.

[2017-08-19 06:12] pboling commented on #175
@andrykonchin Awesome.  Thanks for keeping track!  I am now a Dynamoid admin, so I can make you a maintainer.

[2017-08-19 06:38] pboling commented on #125
@richardhsu and @andrykonchin are joining myself and @bglusman as the new maintainers of Dynamoid. 👏

@richardhsu - sorry I didn't ask first if you wanted this role - you have pushed 4 PRs over the last year, and so I assume you use the project.  That being the case the old adage applies - in open source software, if you use it you maintain it.  In the interest of having this project not die it ne

[2017-08-19 06:39] #125 closed

[2017-08-19 07:36] richardhsu commented on #125
@pboling Thanks, and no worries! I do use the project actively and will do my best :)

[2017-08-19 12:48] bglusman commented on #125
Yeah we migrated off (from a fairly bad use case/use style) about 8 months ago. I'm still happy to review and help where I can but most of my open source time guess to https://github.com/MasbiaSoupKitchenNetwork/open_pantry these days!

[2017-08-21 01:14] #178 closed

[2017-08-24 21:05] richardhsu commented on #115
This is old but I don't think this is possible. At least from documentation, I don't see any viable way to walk backwards in records. You can walk forward if there is a range key specified since objects will be ordered in the scan, but then this would require scanning for elements until the current item is found and you'll have paged in the previous one.

Unless you have the records in memory alre

[2017-08-24 21:10] #8 closed

[2017-08-24 21:12] richardhsu commented on #46
This works now based on @andrykonchin's PR, I've been testing this in a staging environment and it works well.

[2017-08-24 21:12] #46 closed

[2017-08-24 21:13] richardhsu commented on #85
This is updated again in https://github.com/Dynamoid/Dynamoid/pull/183 to handle scan limit as well.

[2017-08-30 07:33] pboling commented on #85
@richardhsu so #183 doesn't fix this bug, but it adds another type of limit "support" that will be ignored if `batch` is chained?

[code]
Both limit types are ignored?

[2017-08-30 07:34] #115 closed

[2017-08-30 08:52] gaiottino opened #187 "Resolve associations?"
Hi,

It's not clear from the documentation, but using the example from another question

[code]

calling `user.comments` returns an association on which you can call `to_a` or `user.comments.map(&:body)` which feels reasonable.

But when calling `comment.user.name` you get the name of the association and not the user.

[code]

You seem to have to call `#target` before being able to call `#name` wh

[2017-08-30 17:26] richardhsu commented on #85
@pboling can you give me examples that you're seeing don't work?

I'm seeing it respect the `scan_limit` and `record_limit` and making batch queries to DynamoDB with `batch_size` assuming `batch_size < scan_limit` or `batch_size < record_limit`.

[code]

These seem to be all expected number of requests, unless I'm misunderstanding the `batch`? (This is off `master`)

[2017-08-30 17:26] richardhsu commented on #85
Oh, also just noticed one slight issue with `query` though that Chain isn't passing `batch_size` down to the query so I'll open up quick PR for that.

[2017-08-30 23:01] pboling commented on #85
I was just asking if the PR actually did fix the bug, it wasn't clear to me that it did.  Looks like it is all working!

[2017-08-30 23:01] #85 closed

[2017-08-30 23:09] richardhsu commented on #85
Ah, yes, sorry it does :) Will be clearer in future PR for these types of fixes!

[2017-09-04 09:04] andrykonchin commented on #187
Yeah, all model methods are available on proxy association object except several: `name`, `options`, `source`, `loaded` etc.

Looks like it's a specific of `belongs_to` and `has_one` associations only.

I may assume the expected behaviour (for single association) is to return model immediately, not proxy object.

@pboling @richardhsu what do you think?

[2017-09-04 19:59] pboling commented on #187
@richardhsu @andrykonchin @gaiottino
The described behavior sounds less than ideal to me.  I believe rails hides the association proxy object, inside the target somewhere, so the target can be the one directly exposed.  I would prefer that we keep it more like rails.

Also think we should get master released before a change like that though, as that would be a major version bump.

In order to rele

[2017-09-06 20:19] andrykonchin commented on #175
New version (1.3.4) is released

[2017-09-06 20:19] #175 closed

[2017-09-20 18:56] rickybrown opened #193 "indexing and ordering/sorting results?"
Hey there, forgive me for not totally getting the docs or if i've overlooked, but how would I go about indexing an attribute and ordering/sorting results by that attribute? Lets say I have a simple model for posts, with only a couple attributes:

[code]

And I want to index the :votes attribute for sorting/ordering by number of votes, or the :content attribute alphabetically, or by the created_at

[2017-09-20 20:38] richardhsu commented on #193
DynamoDB doesn't do general sorting without using what is known as the Range key since the general structure is a Key Value Store.

## Quick Overview of Sorting

Thus, your sorting is based on items with the same HashKey. So for example we could have this as a Topics table:

| Forum | Topic | PostCount |
|:------:|:------:|:----------:|
| General | Hello World | 10 |
| General | For Your Informati

[2017-09-20 20:48] pboling commented on #193
Thanks for writing that up @richardhsu !  Very insightful.  I am going to make this into a basic intro wiki.

[2017-09-20 21:00] rickybrown commented on #193
Awesome @richardhsu, much appreciated!

[2017-10-09 11:56] baloran opened #200 "Question: Default_scope?"
Hey, do you think is possible to integrate the default_scope of active record?

Thanks

ps: I can try to make a PR

[2017-10-10 13:21] andrykonchin commented on #200
I think we're always open to PR's like this

[2017-10-11 08:07] pboling commented on #107
@archonic Can you check to see if this is still a problem?  We have done a lot of work improving dynamoid recently.

[2017-10-11 08:08] pboling commented on #9
@andrykonchin ping!  Did this get done already?

[2017-10-11 11:37] RedaBenh commented on #9
Finally, i make my own custom DynamoAdapter to manage my case

[2017-10-11 19:25] andrykonchin commented on #9
@pboling as far as I know we can use `raw` field type to store lists and maps. So yes, it's already done. Maybe we need more obvious names for field types - `list` and `map`

[2017-10-12 08:20] baloran commented on #9
But how insert list of map with raw attributes?

[2017-10-12 08:29] RedaBenh commented on #9
Hi @baloran
Here is some quick examples (from file : spec/dynamoid/persistence_spec.rb )

In your model

`field :config, :raw`

# it 'keeps raw Hash attributes as a Hash
--
[code]

[2017-10-12 21:15] pboling commented on #9
So we just need to document this support better in the Readme perhaps.

[2017-11-01 20:00] andrykonchin commented on #60
Done

[2017-11-01 20:00] #60 closed

[2017-11-01 20:05] #108 closed

[2017-11-10 00:04] pboling opened #208 "Open Collective?"
https://opencollective.com/opensource/apply

Assuming we get donations 💰 we would be able to fund bug/feature bounties for improvements to the Dynamoid ecosystem.

CC: @andrykonchin @richardhsu

[2017-11-10 00:05] pboling commented on #208
@bglusman Do you have experience with Open Collectives?

[2017-11-10 15:54] bglusman commented on #208
Nope, none, but I've seen and been curious about it...  been kind of tempted to apply for [OpenPantry](https://github.com/openpantry/open-pantry) but Dynamoid could certainly be a candidate too! :-)

[2017-11-10 18:49] pboling commented on #208
I don't know if they make exceptions, but on that apply link it is claimed that the repository needs to have at least 100 stars, for an open source project.  So I have just starred OpenPantry. :)

[2017-11-13 20:38] andrykonchin commented on #208
Sounds good but I believe first of all we need to have a roadmap - list of missing features and known bugs, improving documentation/wiki etc. I see very little feedback from the community and it makes me sad a little.

[2017-11-13 20:53] pboling commented on #208
Agreed.  The community is small.  But, this project is more active than many others :)

I think we can use the issue tracker to document our wishlist, bugs and todos.

We could also start using the "Projects" feature to track bigger initiatives, like perhaps the better integration with aws core libraries where this library currently duplicates functionality.

[2017-11-15 10:31] ijdickinson opened #209 "Update aws-sdk-resources dependency?"
The current `gemspec` pins the AWS sdk to version 2.x:

    spec.add_runtime_dependency(%q<aws-sdk-resources>, ["~> 2"])

Increasingly, the gems my project depends on are moving to sdk 3.x, which came out of preview in Aug 2017. So I'm finding this sort of this happening:

    Bundler could not find compatible versions for gem "aws-sdk-core":
    In Gemfile:
    dynamoid (~> 1.3.4) was resolved to

[2017-11-15 13:56] ijdickinson opened #210 "delete_all method missing"
In the [README](https://github.com/Dynamoid/Dynamoid#deleting), it says:

However, when I tried that it doesn't recognise the `delete_all` method:

    $ RAILS_ENV=test rails c
    Running via Spring preloader in process 5690
    Loading test environment (Rails 5.1.4)
    irb(main):001:0> Incident.where('created_at.lt' => DateTime.now).delete_all
    NoMethodError: undefined method `delete_all' fo

[2017-11-15 16:13] andrykonchin commented on #210
Both `destroy_all` and `delete_all` are available on the master branch.
Only `destroy_all` is available in the current release so just use it.

Some bugs in `destroy_all` were fixed on the master and still aren't released so if you need `destroy_all` - use master.

[2017-11-15 22:58] pboling commented on #210
We are preparing a new release with the changes that have landed in master since the last release.  The readme on master branch should always be reflective of the current code in master, and not necessarily the latest released gem.

[2017-11-15 22:58] #210 closed

[2017-11-15 22:59] pboling commented on #209
We already have two PRs for this change.  Reviews are welcome.  We are currently determining how and when we will make the switch, so please add your voice to the open PRs.

[2017-11-15 22:59] #209 closed

[2017-12-05 20:48] andrykonchin commented on #129
Implemented in the proposed way. So
[code]
should work

[2017-12-05 20:48] #129 closed

[2017-12-05 20:51] andrykonchin commented on #114
Implemented. So `foreign_key` option can be used in the following way

[code]

[2017-12-05 20:51] #114 closed

[2017-12-08 17:14] baloran commented on #135
Hey, not working for me :/ I have in my model a field of boolean type. And in dynamodb a boolean type too. And I can't make query condition on it.

[2017-12-08 19:19] pboling commented on #135
@andrykonchin @richardhsu Have any idea about this?  Perhaps we had a regression, or perhaps my implementation was broken, and we need better specs.

[2017-12-09 13:18] baloran commented on #135
If you can explain where look to find debug, I can try to look :)

[2017-12-10 18:37] richardhsu commented on #135
Sorry didn't have time to look at this until now. @baloran what version of Dynamoid gem are you using? In our current version I added this to our `spec/criteria/chain.rb` and tests pass:

[code]

[code]

Can you also show what the error gives since you're saying you can't make the query, since I'd expect instead you'd get bad results if it weren't translating correctly.

[2017-12-11 09:27] baloran commented on #135
Hey @richardhsu, my version is 1.3.1. I don't have any warning or error message.  It's like my field in where is ignored.

[2017-12-11 09:35] baloran commented on #135
Ok I have an advancement. I have upgraded the gem to 1.3.4. But the boolean is transformed in "f" for false and "t" for true. But I think I remember it's normal operation.

[2017-12-11 09:39] richardhsu commented on #135
Yes, @baloran, this is the normal operation of `true => 't'` and `false => 'f'`:

This is the `dump_field` method for a boolean in `persistence.rb` for reference.
[code]

[2017-12-11 09:40] baloran commented on #135
And you think is a way to have real boolean ?

[2017-12-11 09:46] richardhsu commented on #135
You mean to have a real boolean value in DynamoDB's storage?
In the Ruby model, Dynamoid will hold the value as a real boolean though.

At least for backward compatibility for how it was originally implemented, this is the way we are currently handling it. You're also welcome to open a pull request to handle the case too if this is an issue for you :) I'm not sure when we'll be able to get to such

[2017-12-11 09:51] baloran commented on #135
Yes in my dynamodb document is a Boolean with true or false.

I have imagined a conf with choice of boolean instead of string. There is something smooth for transition and do not force people to use boolean.

Something possible ?

[2017-12-11 09:53] andrykonchin commented on #135
DynamoDB supports boolean type natively [(documentation)](http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/HowItWorks.NamingRulesDataTypes.html)

So it makes sense to support it in DynamoId too.

Not sure if we can make breaking change, but it's easy enough to add some configuration (on the document field level) to keep old behaviour, e.g.

[code]

@richardhsu @pboling what do you t

[2017-12-11 23:42] richardhsu commented on #135
Ah yes, sorry my bad, read the incorrect document for Boolean type as Number. I was reading the Java documentation.

That sounds good. I don't work on any projects that use the boolean flag so I don't really have a preference for how the configuration should be done.

[2017-12-12 03:20] pboling commented on #135
@andrykonchin that would be great!

[2017-12-12 09:41] andrykonchin commented on #135
Will work on it soon

[2017-12-12 18:49] pboling commented on #135
Will re-close when #213 is merged.

[2017-12-12 20:02] andrykonchin commented on #135
@baloran Done. Check `master`

[2017-12-12 20:02] #135 closed

[2017-12-14 09:03] baloran commented on #135
Thanks guys ! If you want to talk about dynamoid and the roadmap I can be here ! I use dynamoid in production for a big product with multiple use case of dynamodb. Thanks !

[2017-12-15 03:14] pboling commented on #135
@baloran I have been the primary maintainer and I only use a tiny fraction of the gems functionality, so it would be good to get your input on things.  Can I add you to the organization as a contributor?  We really need more feedback on releases / development.

[2017-12-18 09:13] vuongvt-rights opened #214 "DynamoId with Boolean type"
Dear DynamoID team.

I saw your developer updated for boolean type of DynamoDB. However, I think you still don't create the Release version.
I am using the newest DynamoId version `dynamoid (1.3.4)` and I can not use `store_as_native_boolean: true` option.
The Pull requests for Boolean type of DynamoDB is [https://github.com/Dynamoid/Dynamoid/pull/213](https://github.com/Dynamoid/Dynamoid/pull/213

[2017-12-19 00:48] pboling commented on #214
Working on a new release.

[2017-12-19 11:36] baloran commented on #214
@pboling He can use the git master version of the gem ? Is not very great for production but working in hotfix ?

[2017-12-19 23:45] pboling commented on #214
Discussion on next release is occurring here:
https://github.com/Dynamoid/Dynamoid/pull/215

[2017-12-19 23:45] #214 closed

[2017-12-20 20:52] pboling commented on #214
@vuongvt-rights @baloran version 2.0.0 is released.  Please try it out and give feedback!

[2017-12-23 16:15] baloran commented on #152
@RedaBenh @pboling ActiveAdmin use the active record object to build form and action. For now I think it's a lot of work.

[2017-12-24 10:07] pboling commented on #152
Oh, I see.  You would need to create an adapter for any admin tool, in the same way you would create an adapter for any other non-ActiveRecord data source.  Like if you wanted to admin Mongo records, or Redis records, from an admin tool, there would have to be an adapter allowing the connection, and management of that kind of data.

[2017-12-24 14:35] baloran commented on #152
It's something very interesting for poc and admin dashboard. They are something existing (https://github.com/aaronshaf/dynamodb-admin) but in nodeJS.

[2018-01-04 14:21] andrykonchin commented on #27
Currently I reproduce meaningful `Seahorse::Client::NetworkingError` exception.
Maybe we need to wrap it into `Dynamoid`'s one like `Dynamoid::Errors::NetworkError`

[code]

Script to reproduce

[code]

[2018-01-04 14:43] #27 closed

[2018-01-04 18:23] pboling commented on #27
I think we should allow the underlying transport errors to bubble up. 👍

[2018-01-09 17:12] pratik60 opened #217 "Question: How to ensure clean state for testing"
Hey!

We started prototyping using Dynamoid, and are really liking the experience compared to aws-record.

One question I have is how can we clean the table after running a test. I have some tests which do check the count of items in a table, and currently have to resort to a delete_table, and create_table in before(:each) block.

Is there a better way to do this? Can I issue a delete_all in a tab

[2018-01-09 19:41] pboling commented on #217
There should be a wiki about testing with Dynamoid, but for now thanks for asking!

Near the top of my `spec/rails_helper.rb`:
[code]

Then later:
[code]
Note the second argument to the calls to `:before` above.  Those are spec tags, and you use them to mark specific tests as needing a particular type of cleaning.  The nice thing about this setup is your specs end up defining the edges of you data

[2018-01-10 06:30] andrykonchin commented on #217
Look at a Test Environment section in the Readme (https://github.com/Dynamoid/Dynamoid#test-environment)

[2018-01-10 08:11] pratik60 commented on #217
Thanks lads! I can't believe I missed it 🤦‍♂️

[2018-01-10 08:11] #217 closed

[2018-01-10 13:11] pratik60 opened #218 "Conditional Updates + Updates without find"
**Updating item without find**

I'm looking to implement something along the lines of https://docs.aws.amazon.com/sdkforruby/api/Aws/DynamoDB/Client.html#update_item-instance_method

The Active Record way of doing this is `Book.update(id, {author: "Carla"})`. This would ideally issue a request to aws to update the item, and avoids the find.

I am able to do something like this `Book.find(id).updat

[2018-01-10 19:37] andrykonchin commented on #218
Actually ActiveRecord loads record, sets new attributes values, validates, runs callbacks and saves. It makes sense to have this hight level functionality here in Dynamoid. I am not sure it makes sense to have low level operation what you propose on the Document level.

If you need just to access DynamoDB client connected to the server just use `Dynamoid.adapter.client`.

There is a tiny wrapper c

[2018-01-10 19:55] andrykonchin commented on #218
@pboling

There is `#upsert` method in `Mongoid` (https://docs.mongodb.com/mongoid/master/tutorials/mongoid-persistence/).

They use it in following way:

[code]
This only runs the `{before|after|around}_upsert` callbacks.

---

Extension of Rails ActiveRecord (https://github.com/jesjos/active_record_upsert) propose following interface:

1) class method `.upsert`
 `MyRecord.upsert(id: 1, wisdom: 3

[2018-01-10 21:11] pboling commented on #218
I think that would be an excellent addition!  Let's add `record.upsert`.  I also thing there is value in an update with raw ID without loading the record first.  This would be like in ActiveRecord doing:
[code]

https://apidock.com/rails/ActiveRecord/Relation/update_all

[2018-01-11 01:23] pratik60 opened #220 "Conditionals fail while filtering for set type"
It appears that the `scan_query` method implemented in `chain.rb` fails with `ArgumentError: value must be enumerable` when using conditions for a set. It works for an array.

For example:
[code]
I created a little PR with a failing spec here: #219 to ease the process.

[2018-01-11 02:12] pratik60 opened #222 "Set of numbers is incorrectly dumped back"
When we save a set of numbers, we expect the same back. Instead we get a set of numbers which are in the BigDecimal. I feel like Dynamoid should undump this correctly just like other fields.

I created a pr for this in collaboration with @william101: https://github.com/Dynamoid/Dynamoid/pull/221

[2018-01-12 23:05] andrykonchin commented on #220
Fixed. Please check master branch.

[2018-01-12 23:05] #220 closed

[2018-01-13 10:57] pratik60 commented on #220
Wohooo! Thanks for this :-)

[2018-01-18 13:10] pratik60 commented on #222
Above pr was merged, closing issue

[2018-01-18 13:10] #222 closed

[2018-01-23 09:30] pk-n opened #226 "Handling unprocessed_items and unprocessed_keys"
how are unprocessed_items for batch_write and unprocessed_keys for batch_read handled?

[2018-01-23 09:46] pk-n commented on #226
I came up with a very simple approach for batch_write

`      def batch_write_item table_name, objects, options = {}
        request_items = []
        options ||= {}
        objects.each do |o|
          request_items << { "put_request" => { item: o } }
        end

        begin
          resp = client.batch_write_item(
            {
              request_items: {
                table_name => r

[2018-01-24 07:12] pk-n commented on #226
I think I can also do the same check where I make a request(outside the gem) to batch_write_item.

[2018-01-24 19:41] andrykonchin commented on #226
From the documentation:

If one or more of the following is true, DynamoDB rejects the entire batch write operation:

1. One or more tables specified in the BatchWriteItem request does not exist.

2. Primary key attributes specified on an item in the request do not match those in the corresponding table's primary key schema.

3. You try to perform multiple operations on the same item in the same B

[2018-01-25 04:39] pk-n commented on #226
Thank you @andrykonchin for replying to my question.
It makes sense. Now I am handling all the six points out side(in my code) the gem where I make a call to batch operation.

[2018-01-26 00:30] pboling commented on #226
Accidentally closed.  Should we leave this open for further discussion of ways we can mitigate some of these inside the gem?  I like the idea of raising a custom error that has the unprocessed items embedded.

[2018-01-26 22:46] pboling commented on #226
In order to internalize an exponential backoff solution within the gem we would need to have something like celluloid to fork those attempts and return the original control to the caller, otherwise calls to Dynamoid could take exponentially long.  Exponential backoff isn't a good idea for inline processing.

[2018-01-28 17:20] mnussbaumer opened #227 ".start (offset) doesn't work?"
I tried using `Address.record_limit(n).start(address)`, but with my own models and no matter what is passed to `.start()` the records would always be returned from the same position. FYI I'm using a specific hash key, `email`, and not the default `id` one.

`.record_limit()` & `scan_limit()` seem to be working fine, just that the offset is never applied.

(this using dynamodb local but I imagine i

[2018-01-29 00:23] richardhsu commented on #227
What are your configurations for the table? Do you have a global secondary index defined in the model for `email`?

[2018-01-31 21:40] andrykonchin commented on #226
@pboling Concurrency is a good approach but it makes things more difficult and looks like users need at least some basic solution to handle table provision limits exceeding.

E.g. we may implement following:
- default behavior is to raise exception with unhandled items or just return them
- user may configure exponential/constant backoff globally/locally - attempts count/timeout and delay
- after

[2018-02-03 19:25] mnussbaumer commented on #227
@richardhsu

So I have got this to work with a few changes - but in fact I don't seem to understand how it even works and passes tests targeting the function.

In `dynamoid/criteria/chain.rb` you can see that:
[code]

[2018-02-04 06:30] pboling commented on #227
It sounds reasonable.  Would like to get input from others, as I don't have an implementation to test this on right now.

[2018-02-04 07:29] richardhsu commented on #227
@mnussbaumer this sounds reasonable, I'm not sure which tests broke originally so cannot speak to what they are testing but please feel free to open a PR and we can review it. But I'm guessing the tests are targeting queries over scans. If this is not the case, we'll need to update the tests suite so please let us know which tests are in question. Finally this does show we're lacking coverage for

[2018-02-04 19:03] andrykonchin commented on #218
@pboling @richardhsu
Actually I am confused now. I cannot chose a name for asked "updating" operation.

It isn't `upsert` because we don't want to create a new item. We shouldn't use `update` name because as I wrote above it's implemented in ActiveRecord and it loads record, validates and saves (so we have two queries instead of one) but here we need to make only one low-level update without callb

[2018-02-04 22:35] mnussbaumer commented on #227
@richardhsu
So yes, I agree - I ran into this because I needed to present paginated records, without query (meaning just show them all) but paginated to not put too much strain on the request. After toying a bit more with it I think that the best would be to have a different method of assembling the `start_key` for scans specifically:

Something like this:
[code]

This keeps exactly the same seman

[2018-02-04 22:41] mnussbaumer commented on #227
@richardhsu in fact I just noticed that we don't even need to change the aws_sdk_v2.rb plugin file with the first solution as it creates the right fields before passing it to the plugin

[2018-02-05 11:32] mnussbaumer commented on #227
@richardhsu It wouldn't break `query` because query will still use the regular `start_key` method and that indeed seems to work when it's querie's case.

Although I just looked into the adapter's `query` method and what it is doing is changing the `next_token` key, into an `exclusive_start_key` one by doing this:

[code]
Which seems to just duplicate the logic of the `start_key` method in `chain.r

[2018-02-05 16:44] mnussbaumer commented on #227
@richardhsu  Perhaps it's just better if I write the PR so you can actually see the changes and test it on your end? I think this last option I mentioned is actually the way to go but if I run into any problem I will write something else

[2018-02-05 16:50] richardhsu commented on #227
@mnussbaumer That sounds good and I agree, I like the idea we consolidate it so `chain` builds the correct `exclusive_start_key` and then passes it down and `query` and `scan` just pull it without any extra logic as that'd simplify the logic of the adapter and other places can use it more consistently with how DynamoDB queries are built.

[2018-02-05 20:18] pboling commented on #218
[code]
When used as a class method, with the intent being to not load the object first, we can't run callbacks, and I don't think validations can be consistent either.
If called this way it should only commit the changes.

[2018-02-05 21:11] andrykonchin commented on #218
@pboling

My concern is it may confuse user. ActiveRecord's `update` method has different semantic as I wrote earlier (https://apidock.com/rails/ActiveRecord/Base/update/class) and it may be useful to have shortcut for `Document.find().update()` to validate model and run callbacks as well.

It isn't clear looking at the name what semantic the method `.update` has.

For instance there are `Model#up

[2018-02-05 22:26] pboling commented on #218
This is the current version of `update` for Rails 4/5:
https://apidock.com/rails/ActiveRecord/Relation/update

I believe we can use that exact semantic in Dynamoid, such that:

[code]

Does the same thing in ActiveRecord as it does in Dynamoid.  Once we have that, which I think is the main concern of this issue, I think we can discuss the other APIs.

[2018-02-05 23:32] richardhsu commented on #218
I think the semantic of `update` on the class as @pboling suggests is good but if we were to stick with being in parity with Rails this would need to be implemented with validations as the apidock mentions which means it's going to do 2 queries.

------------------

Focusing on @pratik60's original concern I think in ActiveRecord land the only way to do an update with low-level SQL call without th

[2018-02-05 23:40] pboling commented on #218
Ah yes, to bypass validations w*and* match Rails' syntax we would need to do:
[code]

[2018-02-06 09:05] andrykonchin commented on #218
@pboling @richardhsu

OK.
If there is no any objection I will work on `update`/`upsert`/`update_fields` implementations.

[2018-02-06 19:34] andrykonchin commented on #226
@pboling @pk-n

Ping

[2018-02-06 22:56] pboling commented on #226
I think having an internal backoff feature would be a good idea for a plugin gem, like `dynamoid-backoff`.  That way people who don't need the extra feature, because they have already implemented the exponential backoff as suggested by Amazon, won't have it complicating their codebase.  It would also be a good way to force us to think about the public surface of the gem for writing plugins.

[2018-02-07 03:59] ryz310 opened #230 "Table cache will be nil when sidekiq restarting"
I use dynamoid on ActiveJob with sidekiq.
But I caught unexpected error when sidekiq worker restarting.

[code]

It seems that `#describe_table` method was called before `#connect!` method calling or `adapter.respond_to?(:connect!)` had return `false`.
What happen to the dynamoid when the sidekiq restarting?
I need anyone help. Thank you.

https://github.com/Dynamoid/Dynamoid/blob/56429229147b9a2e

[2018-02-07 16:06] andrykonchin commented on #230
Are you able to reproduce the issue?

Could you try to reproduce it on this branch? https://github.com/Dynamoid/Dynamoid/tree/fix-describe-table-issue-230

[2018-02-07 16:14] andrykonchin commented on #227
Looks like the issue solved here https://github.com/Dynamoid/Dynamoid/pull/229

[2018-02-07 16:14] #227 closed

[2018-02-07 20:56] andrykonchin opened #233 "Outdated documentation on rubydoc.info"
There is a link to generated documentation in the Readme - http://rdoc.info/github/Dynamoid/Dynamoid/frames.

We need either to keep it up to date or to remove it at all.

[2018-02-07 21:04] pboling commented on #233
I have updated it.  I just went to add a project to the site in the top right corner, and re-added it.  That causes it to re-pull, and update.  👍   We should keep it up to date, I use rdoc.info very frequently to reference gem documentation.

[2018-02-07 21:04] #233 closed

[2018-02-08 09:44] ryz310 commented on #230
Thank you for your response! Let me see.

[2018-02-08 09:46] andrykonchin commented on #233
I have set up Github hook to update rubydoc.info automatically

https://rubydoc.tenderapp.com/kb/git-integration/adding-a-rubydocinfo-post-receive-commit-hook-on-github

[2018-02-08 10:25] pk-n commented on #226
Sorry for the delayed response.
I like your idea @andrykonchin of raising an exception with the unprocessed items. Like what @pboling said some gem - **retryable**  can be used to handle the exponential backoff/ repeated attempts.

[2018-02-08 10:34] ryz310 commented on #230
I tried reproduces the error many times but I couldn't.
I will report again if it reproduces and I can provide more information.
Thank you for your quick response.

[2018-02-08 20:23] pboling commented on #230
Thanks.  Will reopen if you report back with a recurrence.

[2018-02-08 20:23] #230 closed

[2018-02-08 20:24] pboling commented on #230
@andrykonchin we should open a PR for that branch?

[2018-02-08 20:25] pboling commented on #233
Very nice!

[2018-02-09 09:19] andrykonchin commented on #230
@pboling I think no. It's not a fix, just removing some legacy logic. I will add it to the first my PR

[2018-02-14 11:35] ghiculescu commented on #107
for reference, this is a problem with Dynamo - https://news.ycombinator.com/item?id=13170746

[2018-02-14 16:27] archonic commented on #107
@pboling Sorry, I changed jobs and no longer have access to the code base I was working with.

[2018-02-14 17:11] andrykonchin commented on #107
@pboling for the reference this issue should be already fixed.

At least for document creating/updating.  We replace empty sets and strings with `nil`.

https://github.com/Dynamoid/Dynamoid/blob/master/lib/dynamoid/adapter_plugin/aws_sdk_v2.rb#L427-L430

I touched this logic recently https://github.com/Dynamoid/Dynamoid/commit/c3145c585153ddcbda2001ec0809332a1caf36b1

[2018-02-14 23:58] pboling commented on #107
We can reopen if someone reports it anew.

[2018-02-14 23:58] #107 closed

[2018-02-16 16:02] baloran opened #237 "Strange behavior for rake dynamoid:create_tables"
I was using `rake dynamoid:create_tables` to launch tests. But an error occured on require of the model.
[code]

I have changed `require file` to `require "./#{file}"`, and it's working. Ugly, no ?

I have seen this "solution" here: https://stackoverflow.com/a/41991909/2707937

I don't know if is my configuration ? I don't know how to test this.

xoxo

[2018-02-16 16:38] andrykonchin commented on #237
I think the correct solution is to change `Dynamoid::Config.models_dir` from default `app/models` to `./app/models`

[2018-02-16 16:40] baloran commented on #237
Ok. I made the change !

[2018-02-16 16:49] baloran commented on #237
PR made.

[2018-02-16 17:30] #237 closed

[2018-02-16 17:49] baloran commented on #237
Ok, I doesn't understant.. sorry @andrykonchin for this pr, I closed.

[2018-02-16 22:51] pboling commented on #237
I think the way you have done it, `require "./#{file}"`, despite being ugly, is the correct solution for this use case. 👍

[2018-02-17 14:47] baloran commented on #237
I have just changed the models_dir with `./app/models` 🙃

[2018-02-27 09:32] yoonwaiyan commented on #107
@pboling is empty string acceptable in `import` method? I'm trying to port over ActiveRecord rows to use DynamoDB but no luck with the same error message.

[2018-02-27 11:23] andrykonchin commented on #107
@yoonwaiyan It isn't implemented. Good catch! Will fix it soon.

[2018-02-27 22:51] tayduds07 commented on #71
Did you figure this out?

[2018-02-27 22:58] pboling commented on #71
@tayduds07 This error can only happen if the Dynamoid gem hasn't been loaded.  If you are using Bundler and Rails it should be automatically loaded unless you listed the gem with `require: false`.  If using another system without Bundler autoloading, you may need to `require 'dynamoid'`.

This is not a bug in Dynamoid, it is a problem in your configuration.  Re-read the README carefully.

[2018-02-27 23:02] tayduds07 commented on #71
@pboling thank you i didn't have require 'dynamoid' but i do have include Dynamoid::Document

[2018-02-28 03:51] tayduds07 commented on #71
@asit569 I'm assuming you finished this project, how did you get the high charts to show up. I'm having a hard time getting them to show up.

[2018-02-28 18:30] pboling commented on #71
Wrong issue tracker @tayduds07 !

[2018-02-28 19:35] elisoncampos opened #240 "Cannot find nor destroy items. The provided key element does not match the schema"
Hi, Im not sure this is a bug within dynamoid since the table was manually created direct on DynamoDB  so I'm more asking for support. Given the following model:

[code]
**NOTE**: router was the table created directly from aws dynamodb admin page, router-stg is generated by running `rails dynamoid:create_tables` on development and staging. When I run my code against dynamodbLocal (https://hub.dock

[2018-02-28 20:12] andrykonchin commented on #240
Looks like either partition key name or its type differs in production. Have you checked and compare them with partition key of staging table?

[2018-03-01 13:44] elisoncampos commented on #240
I did check these things and what i found is that our production table has a primary key and a sort key. Is that the reason im having these issues? Is that something I can set up my model to address? I couldn't find anything in the documentations about sort keys.

[2018-03-01 13:54] andrykonchin commented on #240
Yes, it may be a cause of the issue as far as you MUST specify both partition and sort key to load particular item (if sort key is declared).

Sort key is also known as range key (it is an old name) and this name is still used in Dynamoid.

`Document.find(pk, range_key: 'some-sort-key')`

To declare range key in model you need to use following DSL:

[code]

[2018-03-01 14:01] andrykonchin commented on #240
@pboling Looks like there is nothing about range key in the readme.

It's also confusing to use old terms like `hash key` and `range key` as far as new terms `partition key` and `sort key` are used in DynamoDB documentation. I propose to use only new terms in source code. I would like to get rid of old terms in existing code base and in public interface what is a breaking change.

Does it make sen

[2018-03-01 15:06] elisoncampos commented on #240
Hey, thanks. It was exactly that. I didn't know range and hash keys were old terms so the documentation was right all along.  I'm closing this issue since it's not really an issue and I found my answer. Thanks again.

[2018-03-01 15:06] #240 closed

[2018-03-01 17:47] pboling commented on #240
@andrykonchin breaking changes are fine, so long as we version the release properly.  There may also be a way to soft deprecate the old names before removing them entirely.

[2018-03-01 21:28] andrykonchin commented on #226
@pboling  @pk-n
TBH I don't consider raising an exception as a good approach anymore.

1)
I would like both `batch_get_item` and `batch_write_item` to handle unprocessed items themselves and try to read/write unprocessed items until the end. It's a naive approach but it works and it hides problem from a client.

If client wants to have some sort of backoff - OK, we will allow it. Both `batch_get_i

[2018-03-01 23:33] pboling commented on #226
@andrykonchin I am OK with that approach.  👍

[2018-03-03 13:26] pk-n commented on #226
Sounds good.

[2018-03-03 18:39] #218 closed

[2018-03-03 18:40] andrykonchin commented on #119
`.upsert` method was implemented

[2018-03-03 18:40] #119 closed

[2018-03-06 08:58] yoonwaiyan opened #241 "where.not or ne Operator"
I'm still new to this repo. I've tried to search through the source code and seems like there's no available query similar to `.where.not` in Rails. In AWS DynamoDB console table filters the not equal is available and I checked it's available in the AWS documentation too. Can we have this feature in Dynamoid so that I can make the backend switch from ActiveRecord simpler?

[2018-03-06 20:29] pboling commented on #241
You are correct that we haven't formalized a shorthand chained method for the `ne` operator.  @andrykonchin I'm thinking it may no be too hard, but also there may be some unexpected behaviors with chaining multiple conditions, AND vs. OR?  I haven't really used the chaining scoping aspect of the gem yet.

[2018-03-06 20:51] andrykonchin commented on #241
@pboling It isn't hard to add `not` chain method except I don't see any way to negate `in` operator. So e.g.
[code]

will not work. May be I missed something in documentation (https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_Condition.html).

New condition syntax allows more complex expressions (https://docs.amazonaws.cn/en_us/amazondynamodb/latest/developerguide/Expressions.Oper

[2018-03-06 21:53] pboling commented on #241
OK, let's start with adding support for `ne` operator.  Perhaps after that our goal should be to move to the supported condition syntax?  And *then* add a chained `not`?

[2018-03-07 09:08] andrykonchin commented on #241
@pboling Yep, definitely. It will improve querying drastically and make it more SQLish

I think it's right time to consider new minor release. There are two issues I would like to complete before it - this one with `ne` operator and handling not processed items in batch operations.

Does it make sense?

[2018-03-07 10:02] pboling commented on #241
Yes!  Looking forward to seeing what you do.  Sorry I don't have more time to help.  I am up to my ears in projects.

[2018-03-14 19:00] #241 closed

[2018-03-19 18:32] sandeepnagra opened #247 "Not working with aws-sdk-core 3.0"
We need to install both aws-sdk-dynamodb and aws-sdk-s3 where s3 particulary requires aws-sdk-core version  to be ~> 3.0 however dynamoid v2 requires the aws-sdkcore to be ~> 2

Also, if we just do `gem install dynamoid` it install an old version ~0.7. You should update the default version to either the most recent or most stable.

[2018-03-19 18:51] sandeepnagra commented on #247
gem install dynamoid installs ver 0.7 which doesn't have any conflict however that version is not even listed here - https://rubygems.org/gems/dynamoid

[2018-03-19 20:12] pboling commented on #247
1. There are a lot of changes on the master branch that are unreleased.
2. The next release should be soon, perhaps within the next month or so.
3. The next release will *still* be on `aws-sdk-core` v2.
4. There are open PRs to upgrade Dynamoid to `aws-sdk-core` v3, but none of them are complete.  If you would like to help us with testing, or work on any open issues to move us toward a release fas

[2018-03-20 04:28] pawneetdev opened #248 "Undefined method index"
When I use the following code, I get **"method_missing': undefined method `index' for Test"** error

[code]

I tried both the variant mentioned in the documentation:

[code]

[2018-03-20 11:17] andrykonchin commented on #248
Could you please provide a simple test to reproduce the issue?

[2018-03-20 17:28] emile-jumo opened #249 "DynomaDB Metrics"
I am looking to extract metrics from dynamodb. According to the documentation of `Aws::DynamoDB::Client` (https://docs.aws.amazon.com/sdkforruby/api/Aws/DynamoDB/Client.html) you can extractthe metrics by adding a parameter `return_item_collection_metrics: "SIZE"` to the db call.

I see that this was only added to `batch_write_item` but not for the other db calls. Any specific reason why this is n

[2018-03-20 17:54] andrykonchin commented on #249
How do you intent to get metrics? By calling `Adapter#batch_write_item` method (and others)?

Actually I would consider `batch_write_item` and other methods of adapter as a private interface.

Is it an option for you to receive metrics in some indirect way like subscribing on events with such detailed information about every call to DynamoDB (like [Rails Instrumentation](http://guides.rubyonrails.

[2018-03-20 18:04] emile-jumo commented on #249
@andrykonchin Thanks for the quick response. So I want to get the DynamoDB's metrics that AWS exposes. That requires the `return_item_collection_metrics: "SIZE"` to be set.

By doing something like this:
[code]
which enables you to get the metrics with `resp.item_collection_metrics`. And this is what I want to get. It would be great if `dynamoid` supports this already.

Otherwise, another solution

[2018-03-20 19:03] pboling commented on #248
@pawneetdev `class Test < ActiveRecord::Base` is a misreading of the documentation.  This gem does not enhance ActiveRecord models.  It replaces ActiveRecord as the ORM for a data model.  You can still use ActiveRecord for *other* classes, but if you want to use Dynamoid to back a specific class it will *not* be an ActiveRecord class.

[2018-03-20 20:13] andrykonchin commented on #249
Looks like this statistic is provided only for the following API calls:
* `batch_write_item`
* `delete_item`
* `put_item`
* `update_item`

As you wrote above you can get the statistic for `batch_write_item`. We can return the statistic for `delete_item` and `put_item`easily, but not for `update_item`.

We can add pub/sub mechanism to provide this information.

 Otherwise looks like `aws-sdk-ruby`

[2018-03-21 07:38] pawneetdev commented on #248
My bad. Sorry and thank I was able to fix it

[2018-03-21 07:38] #248 closed

[2018-03-21 07:48] pawneetdev commented on #248
@andrykonchin I am getting this when I query the model in the console

![image](https://user-images.githubusercontent.com/12933022/37698751-4a0e4ece-2d0a-11e8-8fc1-8f5f4808c6e4.png)

[2018-03-21 08:48] andrykonchin commented on #248
I see. Thanks. Will fix the warning text.

[2018-03-27 10:12] arkes opened #251 "Entry with datetime"
Hey,

I'm having several entries that I'm unable to delete.
When I'm fetching this entry and reload it, it come back with `Dynamoid::Errors::RecordNotFound: Couldn't find MyModel with 'id'=8fbfc5ee-...`. I'm using an index with a  datetime range.
It seems that the method `dump_field` and `undump_field` are using 2 different time class. `dump_field` use `Time` and `undump_field` use `DateTime`

I'm

[2018-03-29 00:15] arkes commented on #251
I made all the changes to use only `Time`, but the issue is still there (with less occurrences).
This issue affect reload and destroy and probably update.
After looking deeply into the code the problem is for a date object or a time object the field follow this flow `Fetch -> float to time -> time to float -> reload` which in some case the float rounding is not the same, which end up with `Dynamoi

[2018-03-29 07:15] andrykonchin commented on #251
I tried to reproduce the issue with `Time` and failed (for 2.2, 2.3 and 2.4 versions). Looks like it should work:

[code]

[2018-03-31 17:10] andrykonchin commented on #251
Working on the fix.

If you need a temporary workaround you can store time in the ISO-8601 string format with `store_as_string` field option

[code]

[2018-04-01 10:42] #226 closed

[2018-04-11 14:28] andrykonchin commented on #251
Fixed

@arkes Could you please check if the fix solves the issue in your case?

[2018-04-12 11:16] gnextAungNaing opened #253 "destroy! with Hash + Range Key is not working"
Can you please spot me where i go wrong here?

Model
[code]
In controller,
[code]
But Got `The number of conditions on the keys is invalid`.

[2018-04-12 15:35] andrykonchin commented on #253
Looks like the declaration of class isn't accurate. You can specify hash key with `:key` option and range key with separate DSL `range`

The correct declaration is:

[code]

[2018-04-12 15:35] #253 closed

[2018-04-19 14:59] #251 closed

[2018-04-24 05:21] ryo19910801 opened #254 "Support for rails 5.2?"
Is this support going to be added?

"activemodel/lib/active_model/attribute_mutation_tracker.rb" added since 5.2
I use in urgent response because it is not supported

override the method in which the error occurred

https://github.com/ryo19910801/Dynamoid/commit/af5e331a742bedd0c05aca7e2780722b96cf1ae1

[2018-04-24 19:33] andrykonchin commented on #254
How can we reproduce the issue? Could you please add a code snippet do demonstrate the lack of support?

[2018-04-24 23:02] richardhsu commented on #254
I was able to reproduce this in my own by just creating a Dynamoid backed object as well and getting a `nil` exception.

They added `mutations_from_database` as @ryo19910801 mentioned:

[code]

It looks like Rails 5.2 `ActiveModel::Dirty` changed attributes to attribute sets.
Basically if you look at our attributes we return something like:

[code]

At creation but seems like ActiveModel now retur

[2018-04-25 00:40] richardhsu commented on #254
Oy, okay guess this goes deeper, I'm scared that we hide some exceptions with this temporary patch but there are other errors that can crop up and it isn't always a `nil` exception since the value could be something else of course.

[code]

This is also due to:
https://github.com/lugray/rails/blob/c3675f50d2e59b7fc173d7b332860c4b1a24a726/activemodel/lib/active_model/attribute_mutation_tracker.rb

[2018-04-25 19:45] andrykonchin commented on #254
Will add Rails 5.2 support ASAP

[2018-04-25 20:17] richardhsu commented on #254
@andrykonchin do you have a timeline when you might look at this? I may look at it some more at some point this week but wouldn't want to duplicate our efforts.

[2018-05-01 00:15] richardhsu commented on #254
Thanks @andrykonchin and thanks @ryo19910801 for bring this to our attention! 👏

[2018-05-01 00:15] #254 closed

[2018-05-06 01:08] baloran opened #258 "New vs Create inside dynamoid"
Hey

After trying to use `Document.new` to try to validate before save the document, I noticed that it's put item. But the behavior of .new it's to create object but not save it ? I don't know if I make mistake.

xoxo

[code]

[2018-05-07 21:49] pboling commented on #258
@andrykonchin @richardhsu does this make sense to you?

[2018-05-07 23:41] richardhsu commented on #258
@baloran can you provide more details, more code snippets or logs, I cannot reproduce this and do not see any reason a `put` call would be made before a `save` is called.

[2018-05-08 13:40] mauriciovalencia opened #259 "Concurrent insert with dynamic table, not works!"
Class LogData

	include Dynamoid::Document

	field :id_user, :integer
	field :array_data, :array

    def self.property_shown_as_marker_cumulative(session_data, additional_data)
        additional_data[:key_name] = 'table_1'
        insertlog(session_data,additional_data)
        additional_data[:key_name] = 'table_2'
        insertlog(session_data,additional_data)
        additional_data[:key_nam

[2018-05-08 20:32] pboling commented on #258
@baloran My guess is that you have some side-effect in your code that is causing the Document to be saved when you aren't expecting it.

I do not think this is related to Dynamoid at all.  Will leave this issue open for a few more days to give you time to respond, but I don't see any way this could be a bug in Dynamoid.

[2018-05-08 20:39] pboling commented on #259
I believe we intend to support a single table per class currently.  I am not aware of a way around this.  @richardhsu @andrykonchin have you ever needed to do something like this?

[2018-05-09 13:39] mauriciovalencia commented on #259
Well, I did it with Mongoid very easily, therefore I think that in Dynamoid could be possible too without creating unnecessary classes, I come from the world nodejs and things like that are easily possible.

[2018-05-09 22:14] richardhsu commented on #259
I have not needed it and I believe right now we have it mapped 1 class per table just as ActiveRecord codes.

This doesn't seem to follow paradigms I'm used to in Rails though so not sure if we'd necessarily want to do this?

Is there a particular larger use case for wanting to change the table so we could potentially implement something generalized? @mauriciovalencia

[2018-05-09 22:58] pboling commented on #259
Dynamoid is an ORM, which "Maps" a "Relation" from a ruby "Object" (class) to a resource (table) in the datastore.  If you don't want to use it like an ORM then perhaps you should use another DynamoDB ruby client.

The idea in this project is that you create a ruby class per table.  You can use class inheritance, or module composition, to not duplicate everything and share code, while also declari

[2018-05-09 22:58] #259 closed

[2018-05-10 13:32] mauriciovalencia commented on #259
Thanks a lot, with aws gem was more code to build, but!, works fine!, regards!
Issue closed for me!

[2018-05-29 05:54] harish-rapuru opened #260 "facing an issue while creating the table"
Hi Team ,

I have  started  a new project on ROR and  Dynamodb .Here iam using Dyanmoid gem as ORM
while creating table iam getting the issue

project folder:

[code]

here is  my model
[code]
Even from the Rails console getting the same error
[code]

[2018-05-29 16:08] andrykonchin commented on #260
I can't reproduce the issue.

Could you please specify the Dynamoid version and provide minimal test case to reproduce the exception?

[2018-05-29 20:17] #258 closed

[2018-05-30 05:15] harish-rapuru commented on #260
Hi,
I have resolved the issue ..i had  typo error in my dynamoid.rb file
have  given extra space in name space
[code]
So it caused this error ..

[2018-05-30 05:15] #260 closed

[2018-05-31 00:01] pboling commented on #260
@harish-rapuru Please see the comment on that line:
[code]
If you aren't using namespacing I think it is better to set to `nil` instead of `""`.

[2018-06-04 11:56] harish-rapuru commented on #260
@pboling Sure will set it` nil`

 Thanks

[2018-06-06 16:32] vitalinfo commented on #187
Hi,
can somebody give an advice about `belongs_to`

I have a model with
[code]

`Event.first.event_profile.target` is always `nil`,
but I do `EventProfile.where(external_id: Event.first.external_user_id).first` all good
any thoughts about?
Thanks

[2018-06-07 11:53] Elyahou opened #262 "update_attributes for nested attributes"
I see that it is possible to updade nested attributes using dots like explained  [here](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Expressions.Attributes.html#Expressions.Attributes.NestedAttributes)

Do Dynamoid support this ?

[2018-06-08 08:37] andrykonchin commented on #187
Could you please provide minimal code snippet to reproduce the issue?

Some notes:
- `primary_key` option isn't supported
- looks like `Event#external_user_id` is a foreign key but you specified another field `external_id`

[2018-06-11 09:58] vitalinfo commented on #187
@andrykonchin I see, `primary_key` isn't supported it shouldn't work in my case

[2018-06-11 10:12] andrykonchin commented on #187
Model takes `primary id` of associated model from the metadata. If you use not standard name `id`, I have to specify it in the `EventProfile` model with

[code]

[2018-06-11 10:32] vitalinfo opened #263 "Manage global secondary index"
Does it possible to add new global_secondary_index to existed table?
Thanks

[2018-06-11 10:46] andrykonchin commented on #263
`Dynamoid` doesn't support migrations like creating/removing indices or changing table capacity now. But surely it can be done with AWS Ruby SDK's [update_table](https://docs.aws.amazon.com/sdkforruby/api/Aws/DynamoDB/Client.html#update_table-instance_method) method

[2018-06-11 11:15] #263 closed

[2018-06-11 16:10] Rheisen opened #265 "Signifying a Composite Key"
I'm creating a model class for a Dynamo table and there doesn't appear to be any documentation on providing a composite key for the key value and I'm not sure what the appropriate way to do this is.

E.g.

class MediaItem
  include Dynamoid::Document
  table :name => MediaItem, :key => ?

end

where the key would be :media_pack_id and :user_id for example.

[2018-06-11 19:21] andrykonchin commented on #265
Yeah, the documentation still isn't comprehensive and DSL uses old terminology (hash/range key instead of partition/sort key) and it may confuse.

You example could be rewritten in following way:

[code]

You can find some examples in specs (https://github.com/Dynamoid/Dynamoid/blob/master/spec/app/models/message.rb)

[2018-06-12 14:40] andrykonchin commented on #265
Looks like the value of either hash key or range key doesn't match type of values you already have in the table. Dynamoid uses UUID as a primary key, default name - `id`, type - `:string`.

Please ensure your schema matches the actual values you try to save

[2018-06-12 19:15] Rheisen commented on #265
It appears I was trying to run queries against it without giving it enough information - things seem to be working now, sorry for the trouble!

[2018-06-12 19:16] #265 closed

[2018-06-18 14:34] cerdiogenes opened #270 "Aws::DynamoDB::Client describe_table returning nil with VCR"
While using Dynamoid with VCR I started to perceive random failures on my tests. I can't identify the root of the problem, but I think it's something related with `Aws::DynamoDB::Client` `describe_table` method.

This is the the stacktrace of the error during the test execution:

[code]

The problem in this method is that `schema` is nil, this is the content of the `hash_key` method:

[code]

I pu

[2018-06-18 15:09] andrykonchin commented on #270
I may guess the table isn't created yet.

Table creation is asynchronous operation in `DynamoDB`. So there is a very small possibility the slow `dynamodb-local` causes the issue.

You can check it by passing `sync: true` option to`<Document>.create_table` method call before tests running. There are several config options you may need to play with - `sync_retry_wait_seconds` and `sync_retry_max_tim

[2018-06-18 19:45] cerdiogenes commented on #270
I put the following in my DynamoidReset module, as pointed by https://www.rubydoc.info/gems/dynamoid/2.2.0#Test_Environment:

[code]

Still getting the same error.

[2018-06-18 21:07] cerdiogenes commented on #270
I configured VCR to ignore all request to localhost and also configured dynamoid with:

[code]

It's working know :tada:

[2018-06-18 21:21] andrykonchin commented on #270
Actually it makes sense to create table synchronously as well here in `DynamoidTruncate.all`:

[2018-06-18 23:47] cerdiogenes commented on #270
I decided to not drop my tables, only truncate it. I run `RAILS_ENV=test bundle exec rake dynamoid:create_tables` in my CI to create the tables before the tests run. It's working awesome!

[2018-06-20 23:02] andrykonchin commented on #262
Sorry for the delay.
I guess - no. Neither Dynamoid nor DynamoDB itself.

[2018-06-20 23:04] andrykonchin commented on #247
Done https://github.com/Dynamoid/Dynamoid/pull/267

[2018-06-20 23:04] #247 closed

[2018-07-03 10:05] pboling commented on #262
@andrykonchin You may have missed the link in OP:
https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Expressions.Attributes.html#Expressions.Attributes.NestedAttributes

I think it is supported by DynamoDB, but I am not sure how that would be handled by Dynamoid.

[2018-07-04 01:19] NatasG opened #272 "custom type validation with array"
I have a model like this:

[code]

I define the custom type `B` and `C`, they do validations for themselves.
But in this way, when I parse data from a json, it throws an exception: *#<ArgumentError: Unknown type [C]>*

To fix this exception, I change my model to this:

[code]
There is no exception now. But I couldn't get my custom type `C`.
So I couldn't validate my field c.

Can you help me?

[2018-07-04 08:29] andrykonchin commented on #272
I guess you need to have custom type ArrayOfC which implements required interface ( `dynamoid_load` and `dynamoid_dump` methods)

As declared in [Readme](https://github.com/Dynamoid/Dynamoid#fields) field can be only:
* scalar type like string, integer or boolean
* collection of scalar values like array and hash or nested collection
* or custom type

If field is collection (array in your example)

[2018-07-04 12:05] NatasG commented on #272
What do you mean `ArrayOfC`, example?

[2018-07-04 13:02] NatasG commented on #272
Thank you.
I think it is necessary to support custom type in collection.

[2018-07-04 18:43] rasouza commented on #193
Why we don't have `order` method anymore?

[2018-07-04 22:50] pboling commented on #193
@rasouza Can you post a code snippet?  Are you referring to current master HEAD?
@andrykonchin Did this change?

[2018-07-04 23:17] pboling commented on #272
I think for now the code example given by @andrykonchin is how we will support collections with custom types.  We can add that example to a wiki for documentation of the current support for custom collections.

[2018-07-04 23:18] pboling commented on #272
Actually going to leave this open until we get the example added to documentation.

[2018-07-05 08:51] andrykonchin commented on #193
Not sure if there was any method like `order`, at least since 2016.

There is only `scan_index_forward` method (that means [ScanIndexForward](https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_Query.html#DDB-Query-request-ScanIndexForward) `Query` option)

[2018-07-05 10:02] knovoselic opened #273 "Is there a way to fetch all documents without getting the scan warning?"
Hi,

I have a use-case where I need to fetch all documents from a specific collection. Doing

    TheCollection.all.to_a

issues a scan warning. Is there a way to do this without scanning (probably not, right?), or at least without printing out the scan warning just for this case (when intentionally trying to get all documents)?

I think it doesn't make sense to issue scan warning in this case, as

[2018-07-05 10:33] andrykonchin commented on #273
Good point.

Yes, it makes sense.

[2018-07-05 21:10] knovoselic commented on #273
Cool. I can work on the pull request in about two weeks, depending on my current work priorities. What's your policy on cutting a new gem version? Do you wait for a bunch of fixes and then push them together? Any idea when the next version is going out?

[2018-07-09 07:30] andrykonchin commented on #193
@pboling  Looks like yes

[2018-07-09 12:42] Tensho opened #274 "Rename repo to 'dynamoid'"
Please rename repo to lower case `"dynamoid"` to be consistent with all other ruby gems in the field 🙇

[2018-07-09 19:10] richardhsu commented on #193
@rasouza @pboling @andrykonchin Hmm this is very strange, I must have had a mind blip because I can't seem to find `order` method either and going back through my DynamoDB projects, I never used `order`, but was doing things through `scan_index_forward`. My apologies for inaccurate documentation though I think the usage of how order should be is correct though and the requirements on secondary ind

[2018-07-10 09:47] andrykonchin commented on #193
I like the proposed DSL `Post.where(forum: 'General').order(post_count: :desc)` and I am for removing existing public method `scan_index_forward`.

But the sorting isn't useful in DynamoDB because user has to specify partition/hash key. That's why actual code will be following:

`Post.where(id: 'General').order(post_count: :desc)`

Query without partition key of a table/index doesn't work. In this

[2018-07-10 22:43] richardhsu commented on #193
@andrykonchin Yes agreed on proposal. However, since there can be secondary indexes, it isn't required that it be `id` which would be for the primary index. So long as the query has the hash key of one of the indices and the ordering is on the range key of that matched index. And yes an exception raised if no valid index is found is proper. Thanks!

[2018-07-17 09:16] Tensho opened #276 "Don't persist model on association assignment"
I't would be nice to have consistent with ActiveRecord behaviour when you don't run any persistence actions for associations in a new model until the `save/save!` call. Right now any association assignment triggers the saving of the model:
[code]

[2018-07-19 03:58] rhuang opened #277 "When I call Dynamoid.included_models, the returned list seems to be missing some models"
Any idea why this might be happening? All my `Dynamoid` models are in various nested folders under `/app/models/*`. I'm already using all these `Dynamoid` classes in production - I'm just trying to setup proper test cleanup and I seem to be missing tables during creation.

[2018-07-19 08:46] andrykonchin commented on #277
Dynamoid adds model class  to the `Dynamoid.included_models` list only when a file with model declaration is required with `require` or `load`.

Looks like in test environment some files aren't required.

How do you reproduce the issue?

[2018-07-20 01:45] rhuang commented on #277
In `spec_helpers.rb` (my `RSpec` config file), I call `Dynamoid.included_models` in `config.before(:suite)` to create tables, in preparation for tests that actually put things into Dynamo. I noticed that `included_models` is missing a bunch of models, and I can't seem to see a pattern to it. I also tried explicitly doing `require` in `spec_helpers.rb` for the missing model files, but it doesn't se

[2018-07-20 08:29] andrykonchin commented on #277
It would be helpful if you were able to provide minimized example to reproduce the issue. Now I can you guess.

Document occurs in `Dynamoid.included_models` only after loading the file with definition of the class (look at [this](https://github.com/Dynamoid/Dynamoid/blob/12b874c0d721f5993b0a2f6839dce53efe3c0973/lib/dynamoid/document.rb#L16)).
If class is a subclass of another document (some sort

[2018-07-29 18:06] #277 closed

[2018-07-29 18:13] #262 closed

[2018-08-05 05:47] pboling commented on #274
I'd prefer this as well.  Done.

[2018-08-05 05:47] #274 closed

[2018-08-05 05:50] pboling commented on #277
The test environment does not eager load all models, unlike production.  So `included_models` will grow as the tests run.  It can't be used for bootstrapping of the environment unless you manually load all the models with `require` or `load`.  There is nothing this project can do about this.  The test env is simply a different beast than production.

[2018-08-07 22:36] varchar opened #284 "created_at and updated_at not being set."
The dynamoid config has timestamps: true, the console shows the fields as present (#<ProductStyleScore:0x00007fabaacef3f8 @attributes={:created_at=>nil, :updated_at=>nil), but the aws console doesn't show the fields as being present.  Shouldn't dynamoid be auto-populating these fields?

[code]

[2018-08-07 23:14] andrykonchin commented on #284
Right, Dynamoid should set these fields if Dynamoid::Config.timestamps is true.

What Dynamoid version do you use?
Could you please provide a minimal example to reproduce the issue?

[2018-08-08 00:51] varchar commented on #284
`ProductStyleScore.upsert(customer.id, product.id,
                            { score: score, reasons: reasons, scorer: Commands::ProductScorer.version })`

using dynamoid 2.2

[2018-08-08 10:45] andrykonchin commented on #284
I see. It's a not intentional limitation of `update_fields` and `upsert` methods. At least it worth to document it.

It's reasonable to change `updated_at` in the `update_fields` method. Good catch 👍 .

But I am not sure it will be possible to set/update timestamps in `upsert` correctly:
- it's OK to set `created_at` and `updated_at` if document doesn't exist and we create new one
- it isn't OK to

[2018-08-09 07:18] pboling commented on #284
That makes sense to me. 👍

[2018-08-10 21:52] varchar commented on #284
Could you automatically set the updated_at?  That field would be fine to overwrite on each upsert.

[2018-08-11 00:17] andrykonchin commented on #284
Yep. It makes sense.

[2018-08-13 19:41] andrykonchin commented on #284
Done

[2018-08-13 19:41] #284 closed

[2018-08-14 17:39] #273 closed

[2018-08-15 18:57] andrykonchin commented on #37
Fixed

[2018-08-15 18:57] #37 closed

[2018-09-12 05:00] NSLog0 opened #295 "Couldn't use delete_all method for version 2.2.0 got Empty attribute name"
I've tried to delete item with `delete_all` method. I always getting `Aws::DynamoDB::Errors::ValidationException (Empty attribute name)`

[code]

Information:
 - Dynamoid 2.2.0
 - DynamoDB used docker on local machine

[2018-09-12 05:57] avatarr commented on #193
I got `NoMethodError (undefined method 'order' for #<Dynamoid::Criteria::Chain:0x00007ff0de0a0fd8>)`

Any suggestion?

[2018-09-12 07:53] andrykonchin commented on #295
Could you please provide minimal code example to reproduce the issue?

[2018-09-12 08:28] andrykonchin commented on #193
@avatarr There is no `order` method still. Though you can control order of the result with `scan_index_forward` method.

[2018-09-17 04:15] NSLog0 commented on #295
Sorry for late. Here it's an example

[code]

[2018-09-17 07:03] andrykonchin commented on #295
Could you provide the expression which raises an exception?

[2018-09-17 11:15] mmhan commented on #107
@pboling Empty string is still an issue. Here's an example.

[code]

Any workaround for that?

[2018-09-17 13:04] andrykonchin commented on #107
@mmhan

Good catch 👍 . We missed this case.
No, there is no workaround here except manual removing empty strings and sets.
We will fix it ASAP.

[2018-09-17 17:03] NSLog0 commented on #295
I run this command `Blog.where(...).delete_all`

[2018-09-18 08:15] andrykonchin commented on #295
Could you provide full example with conditions? Looks like they are the cause of the exception.

I can't reproduce it with following test

[code]

[2018-09-18 14:32] varchar opened #296 "cant save hash using raw column type if the hash has integers for the keys"
Any hash being saved into a "raw" column breaks if the hash uses integers for keys

[code]

# /Users/charlie/.rvm/gems/ruby-2.3.5@letote/gems/aws-sdk-core-2.11.8/lib/seahorse/model/shapes.rb:198:in `member?'
     # /Users/charlie/.rvm/gems/ruby-2.3.5@letote/gems/aws-sdk-core-2.11.8/lib/aws-sdk-core/param_converter.rb:46:in `block in structure'
     # /Users/charlie/.rvm/gems/ruby-2.3.5@letote/gems

[2018-09-18 18:10] andrykonchin commented on #296
Could you please provide full complete example to reproduce the issue?

[2018-09-18 18:56] varchar commented on #296
pfl = ProductFitList
pfl.product_ids_with_score = {1 => 100}
pfl.save

this creates the above stacktrace.  What else are you lookng for?

[2018-09-18 19:10] andrykonchin commented on #296
OK. Got it. Thanks.

[2018-09-18 22:06] varchar commented on #296
Another question, is using "raw" vs "serialized" faster?  using a type of "serialized" allows a integer hash key to work

[2018-09-19 07:51] andrykonchin commented on #296
There may be a very small difference.

Attributes are sent to DynamoDB as a JSON document. `raw` attribute is converted to JSON directly. `serialized` field is converted to YAML and then is put as a string in a result JSON document.

So the question is - what serialization is faster - JSON or YAML.

[2018-09-20 15:29] launchbyte-dev opened #297 "What if an existing DB has a field with a name that's reserved by dynamoid (e.g. "type")"
We're working with a DB that has a table with a field named "type".

When we try to access data from that table with values in the "type" field (e.g. type="XXX"), we get an error: "NameError: Uninitialized constant XXX.

When we try to access data from that table without values in the "type" field, it returns the record correctly, but, with the table name as the value for the type field.

Is there

[2018-09-20 22:54] pboling commented on #297
Here is the list of reserved words in DynamoDB:
https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/ReservedWords.html

Please do not use those words to name tables, attributes or other objects.

From the documentation:

So while it is possible to support reserved words as object names, we have no plans to support it.  If you would like to see support you might need to fork the repo,

[2018-09-21 06:49] andrykonchin commented on #297
The issue is that Dynamoid uses `type` field to support `STI` like it's done on Rails ActiveRecord. So `type` value is treated as a class name of some class hierarchy.

There is a way to handle this issue In Rails by specifying another column name for STI with [inheritance_column](https://apidock.com/rails/ActiveRecord/Base/inheritance_column/class) in the model.

Looks like it's a good feature to

[2018-09-21 13:48] pboling commented on #297
I would be happy to see it implemented @andrykonchin  - I just don't have time to do it myself. 👍

[2018-09-21 13:51] andrykonchin commented on #297
@pboling Great. Will work on it right after releasing 3.0 version.

[2018-09-25 15:37] andrykonchin commented on #296
Fixed

[2018-09-25 15:37] #296 closed

[2018-09-26 06:36] andrykonchin commented on #107
@mmhan Fixed. Please check master branch.

[2018-09-26 06:43] mmhan commented on #107
Awesome! 🙌

[2018-09-26 21:15] muhammad-tayyab-ashraf opened #300 "Dynamoid some times does not update the data at dynamodb and also not showing any error"
We're working with a DB that has a table named client. It happens sometimes that when we try to update data (some or more fields) from that table, logs shows that those fields updated successfully but we could not see those results in the Dynamo nor on the UI screen.
So issue might be that dynamoid not updating the data into dynamodb nor raising any error.

~Thanks

[2018-09-27 08:18] mmhan opened #301 "Dynamoid doesn't seem to use query option `:count` for `.count` method."
I don't see anything in the README but it seems to me like calling something like `Document.where(published: true).count` is still either querying/scanning without aws-sdk's `:count` [option](https://docs.aws.amazon.com/AWSRubySDK/latest/AWS/DynamoDB/Client.html#query-instance_method).

[2018-09-27 11:30] andrykonchin commented on #301
Yep. You are correct.

There is an issue already https://github.com/Dynamoid/dynamoid/issues/144

[2018-09-27 14:02] mmhan commented on #301
Oh.. cool. Looks like it's still in help wanted stage. I'll see what I can do.

[2018-09-27 14:07] andrykonchin commented on #301
TBH It requires either massive copy-paste or massive refactoring. That's why I postponed it so long. Hope it will be part of the next minor release.

[2018-09-28 03:35] pboling commented on #124
@andrykonchin I am still seeing this in the readme:
[code]

I was under the impression that method had been removed/deprecated in 3.0.0 just released.  Have I misunderstood?

[2018-09-28 03:40] pboling commented on #301
Closing in favor of #144.  Renamed #144 to make it clear.

[2018-09-28 03:40] #301 closed

[2018-09-28 06:30] andrykonchin commented on #124
@pboling Yeah, you are right. Nice catch.

[2018-09-28 10:08] pboling commented on #124
@andrykonchin That is literally the only method I use in the gem, so I need to figure out how to migrate my code.

[2018-10-14 17:18] andrykonchin commented on #297
Fixed

[2018-10-14 17:18] #297 closed

[2018-10-19 03:47] YushengLi opened #308 "Default field :type behavior change in version 3.0.0"
I am trying to upgrade Dynamoid in our project from version 2.2.0 to 3.0.0, and keeps getting errors in `lib/dynamoid/undumping.rb` since some fields were not explicitly listed while declaring Models.

https://github.com/Dynamoid/dynamoid/blob/55d24359575247084dd90d2ff0602d130094d1fb/lib/dynamoid/undumping.rb#L24-L42

The issue here is back in version 2.2.0, when a field is not explicitly listed,

[2018-10-19 09:31] YushengLi commented on #308
Thanks for the response, I'm sincerly sorry for not being clear 🙇  let me describe the issue with more details

### Given the following DynamoDB table structure
[code]

I have a model definition

[code]

While executing the following query in Dynamoid v2.2.0
[code]

It will return collection of Bar::OneMinuteBar
[code]

But when I execute the same query in Dynamoid v3.0.0 it will raise errors in `

[2018-10-19 10:57] andrykonchin commented on #308
Got it. Yeah, it definitely makes sense to ignore not declared fields during loading from dynamoDB. Will work on it soon.

[2018-10-20 08:44] andrykonchin commented on #308
Fixed

@YushengLi please check the master branch

[2018-10-20 08:44] #308 closed

[2018-10-20 15:43] andrykonchin commented on #272
Done

[2018-10-20 15:43] #272 closed

[2018-10-22 20:21] andrykonchin commented on #308
We release new versions every 3-4 months so next one will be in a month or so.

[2018-10-23 16:44] psulightning commented on #9
bump: should support Map type like @RedaBenh stated

[2018-10-23 17:33] andrykonchin commented on #9
@psulightning Doesn't `:raw` type work for you well for storing field as a DynamoDB's `Map` attribute?

[2018-10-23 17:59] psulightning commented on #9
Is that indicated in the documentation?  Does `:raw` basically just hand off to the DynamoDB::Client and let it figure out what to do?

[2018-10-23 18:12] andrykonchin commented on #9
@psulightning It's just a shortcut for "anything that is mapped to DynamoDB types automatically".

I am curious what you mean when say about supporting of `Map` type? What do you expect from this support?

[2018-10-24 08:21] #295 closed

[2018-10-24 08:21] #300 closed

[2018-11-13 08:47] rhuang opened #315 "Question about `where` and `find`"
1. For `where`, is it a naive scan if the field isn't part of a GSI?
In the example in the documentation, `Address.where(city: 'Chicago')`, if `city` isn't the hash key of a GSI, then would it be a scan? And if `city` is the hash key of the GSI, then `where` would do a query?
I'm trying to figure out if I should use `where` or the explicit `find_all_by_secondary_index` to use the GSIs that I defin

[2018-11-13 23:04] andrykonchin commented on #315
1. If `where` 's conditions contain GSI hash key - it will be query, otherwise - scan. There are some limitations. The GSI should be declared in a model class with `global_secondary_index` and `projected_attributes` options should be `:all`. Another one - if there are several GSI with the same hash key first one will be chosen.
You can log HTTP requests and responses with `debug` logging level to

[2018-11-14 00:51] rhuang commented on #315
Thanks! One more question:
For `where`, if I have a GSI with hash and range key, for example on `qid` (hash) and `client_id` (range), then this would query the GSI appropriately?

For example: `Document.where(qid: 'qid', client_id: 'client_id')`

I'll turn on debug logging and check the requests too. Thanks for the help.

Regarding (3), I was testing quickly and found that `find_all_by_secondary_i

[2018-11-14 08:38] andrykonchin commented on #315
Yes. It will use GSI.

[2018-11-14 17:09] rhuang commented on #315
Thanks Andrew. Closing now.

[2018-11-14 17:09] #315 closed

[2018-11-16 13:15] meismann opened #316 "Associations with composite keys not possible?"
I have two tables, each having a composite key. It seems that I can specify only simple keys as foreign key for associations. However, I would like to work with both keys (partition key and range key)—if I use the range key only, Dynamo will need to scan all partitions for that key, and, which is worse, two partitions may each contain a record with the same range key. Are there plans to support as

[2018-11-23 16:39] andrykonchin commented on #144
Implemented

[2018-11-23 16:39] #144 closed

[2018-11-26 16:43] hoggkm opened #321 "delete_all method not functioning correctly"
@andrykonchin, after looking through the code, it looks like the implimentation of [Dynamoid Adapter's delete method](https://github.com/Dynamoid/dynamoid/blob/2744fa5cd5ddac88bc7b95c56d261f0cd632556e/lib/dynamoid/adapter.rb#L103) doesnt quite handle Range Key Arrays correctly.

Instead of:
`ids.each_with_index.map { |id, i| [id, range_key[i]] }`

It should probably be something like:
`ids = ids.f

[2018-11-26 17:03] hoggkm commented on #321
For reference, the read method would be like this one: https://github.com/Dynamoid/dynamoid/blob/422bc3c00e334cdc5bf4cc54a6aee6bf65997a1d/lib/dynamoid/finders.rb#L37-L38

[2019-01-11 16:32] cabello opened #325 "`create` does behave like `new.save`"
Hi 👋

Given the following model:

[code]

If one runs `Post.create(title: 'Some draft of article')` they get back:

[code]

If one runs `Post.new(title: 'Some draft of article').save` the record is persisted and the body is nil.

I find the behaviour of `create` unexpected, I was expecting the exact same behaviour of `new` followed by `save`.

Thank you.

[2019-01-12 13:44] andrykonchin commented on #325
Could you please specify the Dynamoid version?

Actually I can't reproduce the issue on the current master (and it equals the last minor release)

[2019-03-02 20:46] andrykonchin commented on #124
@pboling I re-checked specs for `find_all_by_secondary_index` and can confirm that it could be completely replaced with `where` and other chained methods.

There is only one subtle difference in selecting of index because `where` fallbacks to `Scan` if cannot use `Query` with or without index but `find_all_by_secondary_index` raises exception.

You can find examples of replacing `find_all_by_secon

[2019-03-06 20:58] andrykonchin commented on #325
Since it’s been two months, I hope things are working well for you now.

I’ll close the issue until we can confirm it’s still happening. I’m happy to continue further discussion whenever needed.

[2019-03-06 20:58] #325 closed

[2019-03-06 21:36] cabello commented on #325
Oh, I can try to reproduce it, I completely missed your request for a version for some reason.

[2019-03-07 15:44] jmarkbrooks opened #333 "Support DynamoDB Transactions"
https://aws.amazon.com/blogs/aws/new-amazon-dynamodb-transactions/

Does dynamoid support the new Transactions feature?

[2019-03-07 16:31] andrykonchin commented on #333
No, Dynamoid doesn't support transaction yet. I hope it will be a part of the nearest release actually.

[2019-03-15 23:09] pboling commented on #124
@fleshins You'll need this if/when you upgrade to Dynamoid v3!

[2019-03-22 14:28] myweddingwala opened #336 "How can I create table attributes with custom field names?"
I have a table defined with attributes GSI-1, and GSI-2 and so on, and since the attribute name contains "-", I am not able to use Dynamoid, is there any way I can define custom attribute names?

[2019-03-23 17:03] andrykonchin commented on #336
Not sure if I understood you correctly.

You can't definitely call generated getters/setters for these attributes, as far as `GSI-1` isn't a valid method name in Ruby.

But you have access to the model attributes with `attributes` method:

[code]

[2019-04-01 01:08] arjes opened #338 "Non Skip-Take Pagination"
Hello,

DynamoDB Pagination is a bit different then the skip take (LIMIT & OFFSET driven) pagination we are most developers are used to. Dynamoid offers wrappers to make DynamoDB pagination look like this, but it isn't the native pagination for DynamoDB.

For my use case it is desirable to use the default DynamoDB pagination style, but this isn't exposed anywhere in Dynamoid that I could find. I c

[2019-04-01 18:12] pboling commented on #338
I really like this idea!

[2019-04-01 18:19] richardhsu commented on #338
What would be the difference of this and the limit features? See https://github.com/Dynamoid/dynamoid#limits

The way you'd use it similar to README and should work similar to the following:
[code]

I believe `start` given a `nil` input will just ignore it.

[2019-04-01 19:05] andrykonchin commented on #338
@arjes Could you please clarify what problem you do encounter and would like to solve with your proposal?

The gem isn't documented well so there may be already suitable solution.

[2019-04-02 01:30] arjes commented on #338
@andrykonchin In the end I am looking to only retrieve one page s DynamoDB defines it at a time. I've been in and out of the code quite a bit but mostly in V2. We are using DynamoDb fairly heavily at work and have a few [extensions for dynamoid](https://github.com/GetTerminus/dynamoid-advanced-where)

In the end I am trying to solve a problem of efficiency, DynamoDB defines pages essentially by [d

[2019-04-02 02:14] richardhsu commented on #338
Right now the scan/queries will stop making backend calls based on the `record_limit` or `scan_limit`, otherwise it will attempt to fulfill the query with as much as it can by paginating internally and returning the full set on call. So like you said this has it's inefficiencies.

I can then see adding an extra flag to basically be `call_limit` which basically is the number of underlying DynamoDB

[2019-04-02 15:51] bmalinconico commented on #338
I saw that `start` took a hash, but I was unable to find _how_ I could obtain that hash from a record.

So I would 1,000% advocate against "getting page 10" through iteration. _If_ Dynamoid wanted to support that I would  advocate doing it in library and skipping the hydration of a lot of intermediate objects. I would be happy to talk through this more but it is tangental to the pagination I am im

[2019-04-02 18:53] richardhsu commented on #338
@bmalinconico, I agree, I'm sorry I wasn't suggesting we actually do that, just naively explaining how you cannot determine page 10 without realizing some iteration of data because there is no "fixed" way to offset into the queries.

@bmalinconico yes it takes a hash but it should also take a record, see the implementation I copied from the code, it handles it as a hash directly OR it'll try to de

[2019-04-02 21:14] andrykonchin commented on #338
@arjes

Okay, I understand your objectives so it definitely makes sense to give some control over DynamoDB's pagination and api requests. Despite it makes abstractions leak in favor of efficiency.

There were mentioned several options how to extend Dynamoid - `#next_page` and `#call_limit`. Personally I prefer more Rubyish interface of enumerators, lets call it `#pages`, that will return lazy coll

[2019-04-03 00:14] arjes commented on #338
@richardhsu

This is 100% an internal choice, not related to Dynamoid sorry for the tangent.

Thanks for the rundown on the restart hash. Since it is dependent on the index being scanned, the hash would need to be generated by the Chain, which may make the restart key of `Model.all` a bit more awkward.

@andrykonchin I too prefer my lazy enumerable, and the stream of records will be fine as long a

[2019-04-03 07:41] andrykonchin commented on #338
@arjes

Yeah, `find_in_batches` is a good example.

Okay, it would be great to have a PR with this feature. So go ahead!

The only thing confuses me a bit is similarity of `find_by_pages` name with dynamic finders `find_by_<smth>`. May it confuse users as well?

[2019-04-03 07:43] andrykonchin commented on #338
As @richardhsu mentioned several times the "restart hash" depends on DynamoDB's index used in case of performing `Query` operation. But there is no any index identifier on the Dynamoid level of logic (TBH it is present but is internal only).

In general case user will have to specify the index "id" as argument.

So we can do following:
* add index name/id option to index declaration (I mean declar

[2019-04-03 13:14] bmalinconico commented on #338
I understand that they are dependent on the index in use, and therefore the constructed query. My suggestion a few comments back was to expose this as part of chain.

[code]

This will allow the method to work with Dynamoid's implicit GSI detection no?

[2019-04-03 20:11] andrykonchin commented on #338
@bmalinconico Sounds good.

[2019-04-06 20:07] arjes commented on #338
To follow up. The PR is in-place exposing the pages, and I'm finalizing my reading into the restart key generation.

I'll continue along that path we discussed earlier, using a record to generate the key. However I can't find anywhere in the DyanamoDB docs that indicate how to manually construct a ExclusiveStartKey.

This makes me nervous, since the docs are really pushing you towards the "Use wha

[2019-04-07 16:54] andrykonchin commented on #338
It's true. I haven't found any documented way to get `ExclusiveStartKey ` except using `LastEvaluatedKey` either.

Looks like it's time to make abstraction leak and to return api response details like `LastEvaluatedKey` to the `Chain` class level from the adapter's one.

[2019-04-07 18:59] arjes commented on #338
Alright, so let's talk options. I only started refactoring common code so I'm not too far into it.

First pass, which works naturally when working with pages:

[code]

[code]

This just simply doesn't make sense unless you work in pages, since your standard limit stops mid page.

Do we want to expose this only for paged based iteration and maintain current `start` behavior for other iteration patt

[2019-04-08 06:24] andrykonchin commented on #338
Yes, it makes sense only for paging with (with `find_in_pages`) and I would expose only `LastEvaluatedKey` as a `metadata` parameter at least for now

[2019-04-09 19:19] postmodern opened #345 "Update bin/setup to use docker.io?"
Instead of directly downloading dynamodb-local, perhaps `bin/setup` could install dynamodb-local from [docker hub](https://hub.docker.com/r/amazon/dynamodb-local/)?

[2019-04-10 22:56] andrykonchin commented on #345
There are several ways to setup local environment using
- `bin/setup` (MacOS specific script)
- Vargrant
- Docker Compose

Not sure whether it's reasonable to update `bin/setup` but it's definitely makes sense to use official docker image in `docker-compose.yml` instead of some unofficial.

https://github.com/Dynamoid/dynamoid/blob/master/docker-compose.yml#L5

[2019-04-12 01:10] postmodern commented on #345
Created pull #347.

[2019-04-12 01:10] #345 closed

[2019-04-12 02:02] ryz310 opened #348 "Support DynamoDB Encryption"
https://aws.amazon.com/jp/blogs/aws/new-encryption-at-rest-for-dynamodb/

I seem Dynamoid does not support DyanmoDB Encryption yet. Do you have a plan that support the feature?

[2019-04-12 07:10] andrykonchin commented on #348
Yeah, it would be great.

Despite I don't consider Dynamoid's functionality to create tables to be useful in production as far as tables usually are maintained either with aws web console, aws api or some kind of infrastructure as a code approach (e.g. Terraform) it may be useful at least for test and staging environments.

[2019-04-12 13:22] ryz310 commented on #348
Indeed. Thank you for your response!

[2019-04-15 23:29] steveburkett opened #349 "ArgumentError: Unknown validator: 'UniquenessValidator'"
hi there,

I get an error trying to add a uniqueness validator to my dynamoid model.  The docs say we can use activerecord validations right?

In this case, i want the the validation to fail if book_version_id is NOT unique IF finished_time is nil.

[ruby-2.5.0](git:sb/schedule_indexing_jobs):open-search $  be  rake dynamoid:create_tables
rake aborted!
ArgumentError: Unknown validator: 'Uniqueness

[2019-04-16 18:40] andrykonchin commented on #349
Yeah, `Dynamoid` reuses `Rails`' validations (`ActiveModel` validators TBH) but doesn't support some of them related to `ActiveRecord` like `uniqueness` validation.

Uniqueness check means performing full scan through the table so it's very expensive operation. That's why it's very unlikely you would use it.

As a workaround you can do this check manually or implement and register validator on you

[2019-04-16 20:16] #349 closed

[2019-04-28 18:41] bmalinconico commented on #338
I think this request is now complete. What is your release frequency? I'm going to point my code at master for now.

[2019-04-29 09:28] andrykonchin commented on #338
Usually we release every 3-4 months but the last one is postponed a little longer. I am going to release recent changes in a month or so.

[2019-05-12 07:38] ryz310 opened #353 "Support Amazon DynamoDB Accelerator (DAX)"
Dynamoid seems does not support DAX yet.
Do you have a plan to support it?

[2019-05-13 19:05] andrykonchin commented on #353
Actually, no. I am not planning to work on DAX support in near future. But it would be great to have it nevertheless. Looks like it isn't difficult to add it because DAX client is a drop-in replacement for DynamoDB client (with some limited API operations)

[2019-05-14 06:24] ryz310 commented on #353
I see, thank you for your response.
It's a just a story of possibility, but if I create a corresponding PR, do you have a possibility to merge it?

[2019-05-14 20:31] andrykonchin commented on #353
Yeah, sure

[2019-05-20 16:13] shawndeprey commented on #118
This is the only thread I found pertaining to actual usage of `batch_write_items` in Dynamoid. I'll leave examples below of how to actually utilize `batch_write_items`. The following is based on a real use-case implemented in a project.
[code]

Dynamoid Model:
[code]

[2019-05-20 20:02] andrykonchin commented on #118
Great

I would add that there is a more high-level way to create several models at once - `Document.import`:

[code]

It involves type casting and could process right values of types, not supported by DynamoDB directly, e.g. `date`/`datetime` or custom serializers.

It's mentioned in the Readme here https://github.com/Dynamoid/dynamoid#object-creation

[2019-05-29 06:14] atyndall opened #358 "Using NULL and NOT NULL in queries"
I noticed that the use of `thing.null` and `thing.not_null` filters are not supported by the library, as mentioned in [aws_sdk_v3.rb](https://github.com/Dynamoid/dynamoid/blob/master/lib/dynamoid/adapter_plugin/aws_sdk_v3.rb#L25):

I find myself in the position where being able to filter results based on the null/not_null-ness of an attribute would be very useful. Is there a way to accomplish this

[2019-05-29 08:35] andrykonchin commented on #358
According to the [documentation](https://docs.aws.amazon.com/en_us/amazondynamodb/latest/APIReference/API_Condition.html) `NULL` and `NOT_NULL` predicates mean presence of some attribute in an item/document and not just compare attribute's value with `NULL`.

As far as Dynamoid has some kind of schema items created with it always have all declared attributes but some with `NULL` values. So `NULL`

[2019-05-31 00:16] atyndall commented on #358
Hi Andrew, thanks for getting back to me.

This is where things get a bit confusing for me, because when I use the Dynamoid library, I am not observing the `NULL` behaviour you describe. When I set a `nil` value for an attribute, Dynamoid does not set the attribute at all, as opposed to setting it with a `NULL` value.

A simple test case;

[code]

When I insert, you can see that the `version` attr

[2019-06-01 19:22] andrykonchin commented on #358
Hey

I added new operators (https://github.com/Dynamoid/dynamoid/pull/359) so it should solve your issue.

Also I added new config option `store_attribute_with_nil_value` to make Dynamoid store attributes with `nil` values in DynamoDB item (https://github.com/Dynamoid/dynamoid/pull/360). So if it's OK to recreate the DynamoDB table it makes more sense to set `true` value and use ordinal way to que

[2019-06-07 20:34] ralberth opened #361 "No connection pool with 'primary' found"
I'm seeing the following error when I run my rspec tests from a rake build:

[code]

Dynamoid worked prior to upgrading from Rails 5.0 to rails 5.2, which might be the culprit.

My (single) model object:

[code]

My initializer that sets up Dynamoid:

[code]

I don't have a `config/database.yml` because I don't connect to any SQL-based databases.
I tried connecting to various databases, but still

[2019-06-08 09:28] andrykonchin commented on #361
Looks like this issue isn't connected to Dynamoid.

I think you are right. If you don't use ActiveRecord and don't set up connection with `config/database.yml`/`DATABASE_URL` env variable ActiveRecord shouldn't be required at all. Maybe this [post](https://revelry.co/rails-app-without-database/) can help.

Does it make sense?

[2019-06-10 06:54] atyndall commented on #358
Thank you, this is very helpful! I'll await a new release and give it a try.

[2019-06-12 03:13] ryz310 commented on #230
I report that I've occurred same exception again with dyanmoid v3.2.0.
I'm using jenkins on deploy, but when it's failure starting sidekiq with some condition, the value of `table_cache` sometimes will be `nil` not `{}`. It was probably the similar situation as before.

It's quite rare case so I think no need fix it, just a reporting.

[code]

https://github.com/Dynamoid/dynamoid/blob/a64b8e155c0f

[2019-06-19 15:22] mightymatth opened #364 "User.find() returns DynamoDB error (The number of conditions on the keys is invalid)"
After creating the user, I cannot retrieve it with User.find().

Ruby version 2.5.5
Dynamoid version 3.2.0
Running DynamoDB local.

Dynamoid config:

[code]

User model:

[code]
Creating the user:

[code]

While finding the user by email works fine:

[code]

Retrieving the user by id fails:

[code]

Is something wrong with User model? Is setup incorrect?

[2019-06-19 17:08] est-elle commented on #364
It's because you have a range key (`range: email`) in your model. When you have a composite key, the `find` function expects both of the primary key's components - the hash key and the range key.

Try something like:
`User.find(u.id, range_key: 'hello')`

[2019-06-19 17:46] mightymatth commented on #364
Well, it seems I forgot DynamoDB basics... Thanks!

[2019-06-19 17:46] #364 closed

[2019-06-20 17:37] mightymatth opened #365 "Not able to list HABTM associations if it has set sort key"
This issue is somehow related to #364.

Consider having following models.

[code]

Now I can create Attender, AttenderGroup and add attender to group.

Creating attender:

[code]

[code]

Assigning musician to his group:

[code]

But now when I want to list all my musicians in the group, I get this error:

[code]

I know that this is related to setting sort key on Attender; it only stores ids with

[2019-06-21 18:07] andrykonchin commented on #365
Yeah, you are completely right. Dynamoid's associations don't work with sort keys and there is already issue about this problem (https://github.com/Dynamoid/dynamoid/issues/316).

Associations here are too simple and limited and require complete reimplementation. That's why this known issue still isn't fixed.

[2019-06-21 23:01] mightymatth commented on #365
Sorry, I haven't look for open issue about that problem.

Anyway, is there any reason why we don't use `query` (docs [here](https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_Query.html)) method instead of `batch_get_item` when we have range key in our association? The same question for my previous issue #364.

[2019-06-24 17:42] andrykonchin commented on #365
Hmm, I don't understand your question.

Current behavior I would consider as a bug and support of association with composite primary key should be added.

From the other hand BatchGetItem is the most efficient and cheap way to load items by primary key for both simple scalar primary key and composite one.

[2019-06-25 15:13] mightymatth commented on #365
I agree with you, it's the most efficient way, but only if you have both; the primary key and composite one. Using Query API instead of BatchGetItem API, we could be able to get items just with primary key, which would resolve our problem while listing associations with range key. This is maybe less efficient way, but maybe it's better to use Query API in these cases before any bigger refactoring

[2019-06-25 19:04] andrykonchin commented on #365
I assume you meant partition key when wrote `just with primary key`.

Yeah, Query api call with condition on partition key like `id: [id1, id2, id3, ...]` will work for class with sort key (range key) and items with cached partition keys will be loaded. But result will contain associated models as well as some arbitrary models with different sort key (range key) but the same partition one. So resu

[2019-06-26 01:34] fabiensebban opened #366 "Problem saving object to DynamoDB"
I tried to create rails 6 (ruby version: 2.6.3) project using Dynamoid to store data in my DynamoDB database.

To make sure my data is saved correctly in dynamoDB, I followed the configuration step mentioned in the README file (https://github.com/Dynamoid/dynamoid). I create a user model as following:

[code]

After configuration, I tried to save a user using the rails console.

As a result, I hav

[2019-06-26 09:28] andrykonchin commented on #366
Nice catch.

Dynamoid doesn't support Rails 6. Despite Rails 6 isn't released yet it would be great have it supported  beforehand.

Will work on it ASAP and it will be released in the next Dynamoid minor release.

[2019-06-26 09:31] #366 closed

[2019-06-26 11:51] mightymatth commented on #365
Yes, I was thinking about partition key.

I'm concerned about this too. I don't have so much practice with DynamoDB/Dynamoid so I don't have an answer at the moment. When I catch some time, I'll try to make changes and test if it works as expected, then we can discuss about it.

[2019-07-20 21:24] andrykonchin commented on #366
Fixed in https://github.com/Dynamoid/dynamoid/pull/368

[2019-07-22 08:19] mohan opened #369 "Are projection expressions or similar supported?"
Thanks for this useful gem.

Question: Are projection expressions or any other similar way of fetching only certain attributes supported?

https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Expressions.ProjectionExpressions.html

Thank you!

[2019-07-22 10:19] andrykonchin commented on #369
This feature isn't supported at the moment but I suppose we could implement it easily in the near future.

[2019-07-22 10:38] mohan commented on #369
Thank you!

[2019-07-30 14:52] arekt opened #371 "Upsert with nil value of the attribute present in GSI (update_attributes works)"
Context:
  Table Foo has attribute "bar" (string) attribute.
  Sometimes I do want to reset "bar" attribute to nil.

Events:
[code]

I was sure I can have GSI with some records without "bar" attribute, so was little bit surprised at first.
In the DynamoDB console, it is possible to remove "bar" attribute, it's not possible to assign nil value to string attribute.  (that's ok for me)
Current workar

[2019-08-02 00:45] andrykonchin commented on #371
Good catch 👍 Thanks for reporting this issue.

Looks like it's an internal limitation of DynamoDB. Attribute that is used as GSO key couldn't be NULL or empty string (but an attribute can be just not present in an item). And it contradicts some statement in the documentation:

https://aws.amazon.com/ru/blogs/database/how-to-design-amazon-dynamodb-global-secondary-indexes/

So  all the methods that

[2019-08-02 03:30] arekt commented on #371
No worries, thanks for quick response and your work on Dynamoid :)
Deleting attributes without "present" values sounds good to me, but had no chance to dive in the library code yet. Something similar to what update_attributes do under the hood should work.

[2019-08-08 20:40] andrykonchin commented on #230
The issue should be fixed in https://github.com/Dynamoid/dynamoid/pull/373

[2019-08-16 16:43] Stevenzhao982 commented on #369
Are there any plans for implementing this in the next few weeks or in the next release?

[2019-08-16 21:38] andrykonchin commented on #369
@Stevenzhao982 Yes. It definitely will be a part of the next release in August.

[2019-08-17 18:39] andrykonchin commented on #369
Done in https://github.com/Dynamoid/dynamoid/pull/374

[2019-08-17 18:39] #369 closed

[2019-08-26 01:18] bramu opened #378 "Unable to add to Gemfile"
As soon as I am adding the dynamoid I am getting the below error. Unable to see what is the issue. Could you please help me with this?

$ rails c
/Users/ramu/.rvm/gems/ruby-2.4.1/gems/aws-sdk-dynamodb-1.16.0/lib/aws-sdk-dynamodb/client_api.rb:1110:in `block in <module:ClientApi>': undefined method `endpoint_operation=' for #<Seahorse::Model::Api> (NoMethodError)
	from /Users/ramu/.rvm/gems/ruby-2.

[2019-08-26 05:03] steveburkett opened #379 "search within json"
hi there,

I see that dynamoid supports a JSON data type.  How does one search on an attribute with a JSON field?  is this possible? (i read that dynamodb supports the mapping of the JSON field (thehttps://www.allthingsdistributed.com/2014/10/document-model-dynamodb.html), how do you do this in dynamoid?

[2019-08-26 07:53] andrykonchin commented on #378
Could you provide sample project to reproduce the issue or more info about it - full backtrace of the exception and a version of Dynamoid?

[2019-08-26 08:16] andrykonchin commented on #379
Unfortunately Dynamoid doesn't support conditions with nested document attributes in queries (Scan/Query operations) right now.

So AWS SDK or Dynamoid's internal adapter could be used instead

[2019-08-29 01:36] acaeti opened #380 "Docs: IAM permissions needed to use Dynamoid"
I thought it might be useful to list the IAM role permissions required to use Dynamoid in the README.md.  In my case I am using Dynamoid within an AWS Lambda, and I discovered the below permissions requirements through trial and error.

Some permissions (GetItem, Query, etc) are fairly obvious so I will instead note the two that I found through trial and error (there may be more!).

The first: to

[2019-08-29 14:08] andrykonchin commented on #380
Looks great. It makes sense to add the example and description to documentation. But there is no proper place right now - we have only Readme.md and generated with YARD documentation.

So let it be here for now and I hope we will have a site with documentation and guides in the near future

[2019-08-29 15:12] acaeti commented on #380
How about a subsection under [Prerequisites in the README.md](https://github.com/Dynamoid/dynamoid#prerequisities)?  Could be just a simple call-out in "AWS Configuration" or its own section, e.g.:

###  AWS DynamoDB IAM role permissions

The AWS user requires IAM role permissions to access DynamoDB.  Some permissions (GetItem, Query, etc) are fairly obvious, but note that Dynamoid requires `Descr

[2019-08-29 18:55] andrykonchin commented on #380
Sounds good 👍. PR is welcome.

[2019-09-14 03:33] davidplappert opened #381 "Config For on-demand, pay-per-request"
When I set up the config for dynamoid, it would be nice if I set some attribute that would create the tables as on-demand.

Maybe if I set the read_capacity & write_capacity to 0, have it do that? Or have another boolean attribute on_demand?

[2019-09-15 14:57] andrykonchin commented on #381
Yes, it definitely makes sense to have this feature.

I consider adding new config option `capacity_mode` with possible values `provisioned`/`on_demand` like it mentioned in the documentation.

https://docs.aws.amazon.com/en_us/amazondynamodb/latest/developerguide/HowItWorks.ReadWriteCapacityMode.html

Does it make sense?

[2019-09-26 00:42] benoitongit opened #383 "Rails 6.0 warning `Module#parent_name`"
Not sure if this is already known. When adding this gem to a Rails 6.0 app, starting the server outputs this warning:

DEPRECATION WARNING: `Module#parent_name` has been renamed to `module_parent_name`. `parent_name` is deprecated and will be removed in Rails 6.1. (called from block (2 levels) in require at .rvm/rubies/ruby-2.6.3/lib/ruby/site_ruby/2.6.0/bundler/runtime.rb:81)

Hope this helps. Wo

[2019-09-26 07:46] andrykonchin commented on #383
Thank you for reporting the issue. It's already fixed here https://github.com/Dynamoid/dynamoid/pull/382

[2019-10-01 16:33] benoitongit commented on #383
BTW, any plan to push this as an official release?

[2019-10-01 19:28] andrykonchin commented on #383
No, we don't plan release it right now. It's the only change since last release. Next version will be released in 3 months - in November or so.

IMHO it's completely OK to use current master branch.

[2019-10-14 18:44] andrykonchin commented on #378
Since it’s been two months, I hope things are working well for you now. I’ll close the issue until we can confirm it’s still happening. I’m happy to continue further discussion whenever needed

[2019-10-14 18:44] #378 closed

[2019-10-14 18:48] andrykonchin commented on #361
Since it’s been five months, I hope things are working well for you now. I’ll close the issue until we can confirm it’s still happening. I’m happy to continue further discussion whenever needed.

[2019-10-14 18:48] #361 closed

[2019-10-14 18:50] andrykonchin commented on #358
The changes were released in 3.3.0.

Please let me know if there is any problem. I will close the issue until we can confirm it doesn't work well.

[2019-10-14 18:50] #358 closed

[2019-10-14 18:52] andrykonchin commented on #338
The feature was release in 3.2.0. I will close the issue until some issue occurs.

[2019-10-14 18:52] #338 closed

[2019-10-14 18:53] andrykonchin commented on #336
Since it’s been six months, I hope things are working well for you now. I’ll close the issue until we can confirm it’s still happening. I’m happy to continue further discussion whenever needed

[2019-10-14 18:53] #336 closed

[2019-10-14 19:04] andrykonchin commented on #380
The full list of API operation used by Dynamoid:
- ListTables
- CreateTable
- DescribeTable
- DeleteTable
- DeleteItem
- PutItem
- GetItem
- UpdateItem
- BatchGetItem
- BatchWriteItem
- Query
- Scan
- UpdateTimeToLive

[2019-10-27 01:31] arjes opened #389 "Maintenance of Compound Keys for GSI lookups"
A common pattern I have found with DynamoDB is the need to lookup items by a combination of other fields via a GSI, and frequently in a format which doesn't allow a simple GSI on two other fields.

As a result many of the models I have defined have a macro which essentially performs this function:

[code]

I've been considering how to better approach this problem. This approach fails when updates

[2019-10-27 19:50] andrykonchin commented on #389
Hmm... Am I right, a block/method to calculate default value should have access ideally to all the instance attributes? All the attributes should be loaded from DynamoDB?

If so I don't see how to support this feature for methods, which update items **BUT** don't load item from DynamoDB. You already mentioned `.upsert` method. There are other - `.import`, `update_fields`, `.inc`.

These methods ar

[2019-10-27 21:45] bmalinconico commented on #389
I agree that the complexity around attr accessibility outside of the ORM make not worth the headache to support directly. My ask was more to make the default proc have access to the instance attributes. However after rethinking this I think this is sufficient.

[code]

[2019-10-27 21:46] bmalinconico commented on #389
Eh, I'm not sure why I can't close this, but feel free to unless you want to discuss this further.

[2019-10-27 21:55] arjes commented on #389
Because I was on my work account.

[2019-10-27 21:55] #389 closed

[2019-10-29 18:47] emmajhyde opened #390 "Table keys question"
Hello,
I have different tables for different environments that need to be dynamically selected, so I cannot use the in-model table field (or can I?). However, this appears to be where I can declare my primary key for the table. Is there any way to declare a primary key that isn't the default 'id' without using the table method, i.e. can I declare that it's the key for the table and declare the tab

[2019-10-29 20:44] andrykonchin commented on #390
Not sure whether I understand your problem correctly. So provide more details and examples.

No.

Yes, you can declare primary key without declaring table name (in `table` method call).

Just to be sure you didn't miss it in the documentation. If a table name isn't specified explicitly (in `table` method) Dynamoid will use table name inferred from a class name. For instance for `User` class defaul

[2019-10-29 20:57] emmajhyde commented on #390
Hey, thanks for the quick response!
Good to know regarding declaring primary key, which also answers my timestamp question (can I use your created_at & updated_at without declaring a tablename), so nevermind that.

As for the table name conversation:
Okay, thank you, I did miss that - so I can configure the config.namespace conditionally based on the environment and I can allow Dynamoid to infer t

[2019-10-31 19:57] emmajhyde commented on #390
Hello, sorry to reopen, but I'm actually having an issue with our configured namespace.
[code]
obviously "dynamoid" isn't in our configured namespace... and I am also technically declaring our tablename explicitly here:
[code]
In your prior comment you mentioned that dynamodb infers the table name if it is not explicitly declared... is there any way to prevent it from doing so in the case that it

[2019-10-31 20:36] #390 closed

[2019-11-01 19:01] emmajhyde opened #391 "Dynamoid with an assumed role credential"
Hello,
I was looking at the documentation and couldn’t find anything for this. We have an application that assumes various roles for different aws accounts and resources. I only noticed that dynamoid has the ability to define an access key and secret key. Am I not able to use roles with this gem, given that I am not able to configure the role globally?  Can I give dynamoid a specific client or res

[2019-11-04 12:43] andrykonchin commented on #391
Not sure I understand what you want actually.

You can provide Dynamoid its specific AWS  credentials (access and secret keys) in this way (from Readme.md):

[code]

No

What does "globally" mean?

Please let me know if my answer doesn't solve your issue.

[2019-11-04 15:32] emmajhyde commented on #391
Okay, it seems like this gem is not compatible with IAM roles - in order to use an AWS IAM role with dynamoid, I have to configure it in the global config, like this:
[code]
but this overrides ALL other credentials for all other AWS applications within my codebase.

 If I configure it for exclusively dynamoid, I can only pass in an access/secret key, I cannot pass in a IAM role credential.

A bumm

[2019-11-05 11:25] andrykonchin commented on #391
I see. Nevertheless it would be great to support this in Dynamoid and the PR is welcomed.

[2019-11-05 15:57] emmajhyde commented on #391
https://github.com/Dynamoid/dynamoid/pull/393

[2019-11-15 17:54] emmajhyde commented on #391
I would like some attention on the PR that I posted in order to enable this functionality :)

[2019-11-18 11:45] patrykk21 commented on #9
Is this a dead issue? This seems correctly implemented in latest versions.

[2019-11-18 12:10] andrykonchin commented on #9
Hmm, looks like you are right.

There are `set`, `array` and `map` field types. And the original issue in this thread could be solved with `raw` field type.

[2019-11-18 12:10] #9 closed

[2019-11-19 00:17] emmajhyde commented on #391
Resolved. DynamoID now supports this.

[2019-11-19 00:17] #391 closed

[2019-11-27 11:05] tsipa88 opened #395 "Dealing with operator IN, strange behavior"
Hi there.
I have simple model like
[code]
I need to solve two simple problems:
1) Get all posts for one user like: `Post.where(user_id: 1).scan_index_forward(false)`
2) Get all posts for multiple users like:
`Post.where('user_id.in': [1,2,3,4,5]).scan_index_forward(false)`

...In the near future I will add pagination and filtering via `post_type`.

The firstone works well.
But, when I use the seco

[2019-11-27 22:34] andrykonchin commented on #395
Hmm, good question.

Looks like it's just a warning, not an error.

Yeah. Again, looks like it's completely correct behavior. In DynamoDB sorting works only in [Query](https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_Query.html) API call, but   Query requires equality condition for partition/hash key, e.g. `user_id: 'a'`. Condition `'user_id.in': [1,2,3,4,5]` is only supported by

[2019-11-28 08:16] tsipa88 commented on #395
Hi @andrykonchin. So, no chance for me, am i right?
Thanks for reply.

[2019-11-28 21:22] andrykonchin commented on #381
Implemented https://github.com/Dynamoid/dynamoid/pull/397

[2019-11-28 21:22] #381 closed

[2019-11-28 21:23] #383 closed

[2019-12-17 20:26] rapito opened #400 "Missing Documentation for instance#update"
This is a duplicate of an open issue on the original repository:

https://github.com/Veraticus/Dynamoid/issues/160

Also, I couldn't find any documentation where it explains the `update` usage on this gem. Even if we do need to pass a block, what is it for? It should be added to the documentation and/or readme of this repository.

For what I can see in the code, from the yield block you obtain an

[2019-12-18 16:10] andrykonchin commented on #400
Yeah, definitely there is a lack of documentation in the project. Some aspects should be updated in Readme.md as well as in the Yard documentation.

Any PR with documentation is welcomed.

[2019-12-19 17:08] TheSmartnik commented on #217
@pboling @andrykonchin

Hi! I am curious why not use `truncate`? Something like

[code]

Seems logical to use truncate instead of tables recreation

[2019-12-20 07:27] Chen-George-Zhen opened #403 "Support multiple configurations"
Support two or more aws configuration or specify configuration for model

[2019-12-20 17:49] andrykonchin commented on #403
Could you describe a case when this feature is needed?

[2019-12-22 00:33] andrykonchin commented on #217
Table recreation may be faster in comparison with truncation. DynamoDB doesn't support truncation internally so Dynamoid implements it on its own.

Truncation requires several operations:
- load all the items in a table with Scan
- delete every item with separate Delete call

TBH it could be improved with BatchWriteItem (which could delete 25 items at once) but nevertheless it will still perform a

[2019-12-24 09:29] Chen-George-Zhen commented on #403
Thank you, for example, in the same rails project, you need to connect two Amazon's DynamoDB, different access_key, secret_key, region